In [1]:
%matplotlib inline
import os
os.environ['PY3_PROD'] = '1'
%load_ext autoreload
%autoreload 2
os.system('kinit')

1

In [2]:
import numpy as np
import pandas as pd
from typing import Union, List
import datetime
from pycmqlib3.utility import misc

from pycmqlib3.utility.dbaccess import *
from pycmqlib3.utility import dataseries
from pycmqlib3.analytics.tstool import *
from pycmqlib3.analytics.btmetrics import *

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
#pd.set_option('display.width', 1000)

In [ ]:
update_contract_list_table(datetime.date(2023,1,10))

# load eod mark from exchange

In [3]:
from misc_scripts.aks_data_update import update_hist_fut_daily

update_hist_fut_daily(start_date=datetime.date(2023,4,1),
                          end_date=datetime.date(2023,4,14),
                          exchanges=['INE', 'SHFE'],
                          flavor='mysql',
                          fut_table='fut_daily')

exch = INE, date=2023-04-14

C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:76: SAWarning: Can't validate argument 'replace_string'; can't locate any SQLAlchemy dialect named 'replace'
  conn.execute(table.table.insert(replace_string=""), data)

exch = SHFE, date=2023-04-14
exch = INE, date=2023-04-13
exch = SHFE, date=2023-04-13
exch = INE, date=2023-04-12
exch = SHFE, date=2023-04-12
exch = INE, date=2023-04-11
exch = SHFE, date=2023-04-11
exch = INE, date=2023-04-10
exch = SHFE, date=2023-04-10
exch = INE, date=2023-04-07
exch = SHFE, date=2023-04-07
exch = INE, date=2023-04-06
exch = SHFE, date=2023-04-06
exch = INE, date=2023-04-04
exch = SHFE, date=2023-04-04
exch = INE, date=2023-04-03
exch = SHFE, date=2023-04-03

[]

In [5]:
from pycmqlib3.utility.process_wt_data import load_fut_by_product, load_bars_to_df

In [28]:
sdate = datetime.date(2022,11,20)
edate = datetime.date(2023,1,1)
period = 'd1'
df = load_bars_to_df('SHFE.rb.2305', period=period, start_time=sdate, end_time=edate)
df

,instID,date,open,high,low,close,volume,openInterest,diff_oi,settle
0,rb2305,2022-11-21,3670.0,3677.0,3583.0,3624.0,426691.0,925827.0,51882.0,3621.0
1,rb2305,2022-11-22,3620.0,3645.0,3595.0,3601.0,369606.0,972697.0,46870.0,3619.0
2,rb2305,2022-11-23,3602.0,3628.0,3581.0,3618.0,404425.0,1014355.0,41658.0,3606.0
3,rb2305,2022-11-24,3620.0,3662.0,3603.0,3632.0,471909.0,1077671.0,63316.0,3635.0
4,rb2305,2022-11-25,3630.0,3685.0,3609.0,3684.0,415305.0,1113416.0,35745.0,3641.0
5,rb2305,2022-11-28,3690.0,3700.0,3644.0,3681.0,554965.0,1151973.0,38557.0,3672.0
6,rb2305,2022-11-29,3696.0,3768.0,3689.0,3729.0,821184.0,1307428.0,155455.0,3734.0
7,rb2305,2022-11-30,3720.0,3750.0,3691.0,3719.0,735547.0,1433714.0,126286.0,3722.0
8,rb2305,2022-12-01,3739.0,3766.0,3708.0,3733.0,862507.0,1494811.0,61097.0,3739.0
9,rb2305,2022-12-02,3742.0,3818.0,3726.0,3808.0,1326667.0,1679372.0,184561.0,3773.0
10,rb2305,2022-12-05,3805.0,3890.0,3790.0,3804.0,1735437.0,1723182.0,43810.0,3831.0
11,rb2305,2022-12-06,3799.0,3825.0,3780.0,3808.0,1189183.0,1753871.0,30689.0,3803.0
12,rb2305,2022-12-07,3803.0,3838.0,3772.0,3782.0,1576075.0,1761581.0,7710.0,3810.0
13,rb2305,2022-12-08,3781.0,3849.0,3779.0,3839.0,1176620.0,1757505.0,-4076.0,3815.0
14,rb2305,2022-12-09,3850.0,3960.0,3850.0,3945.0,1942575.0,1868420.0,110915.0,3909.0
15,rb2305,2022-12-12,3945.0,3991.0,3917.0,3935.0,1544896.0,1857069.0,-11351.0,3948.0
16,rb2305,2022-12-13,3935.0,3959.0,3906.0,3937.0,1171180.0,1848719.0,-8350.0,3930.0
17,rb2305,2022-12-14,3933.0,3990.0,3923.0,3986.0,1500044.0,1910944.0,62225.0,3953.0
18,rb2305,2022-12-15,3993.0,4085.0,3988.0,4084.0,1932793.0,2002134.0,91190.0,4031.0
19,rb2305,2022-12-16,4083.0,4149.0,3972.0,4049.0,2765803.0,1898413.0,-103721.0,4067.0
20,rb2305,2022-12-19,4041.0,4044.0,3915.0,3927.0,2411668.0,1846442.0,-51971.0,3966.0
21,rb2305,2022-12-20,3927.0,3964.0,3898.0,3939.0,1525034.0,1822179.0,-24263.0,3931.0
22,rb2305,2022-12-21,3950.0,4037.0,3929.0,4034.0,1489491.0,1904049.0,81870.0,3978.0
23,rb2305,2022-12-22,4047.0,4047.0,3950.0,3961.0,1655882.0,1859635.0,-44414.0,4000.0
24,rb2305,2022-12-23,3966.0,4017.0,3932.0,4005.0,1676702.0,1900337.0,40702.0,3979.0
25,rb2305,2022-12-26,4009.0,4020.0,3940.0,4006.0,1638853.0,1897487.0,-2850.0,3985.0
26,rb2305,2022-12-27,3999.0,4078.0,3994.0,4066.0,1413061.0,1932125.0,34638.0,4039.0
27,rb2305,2022-12-28,4060.0,4075.0,4011.0,4050.0,1264540.0,1918199.0,-13926.0,4045.0
28,rb2305,2022-12-29,4054.0,4071.0,4000.0,4048.0,1603581.0,1895064.0,-23135.0,4032.0
29,rb2305,2022-12-30,4052.0,4125.0,4049.0,4105.0,1699077.0,1931845.0,36781.0,4087.0

In [27]:
misc.product_to_ric

AttributeError: module 'pycmqlib3.utility.misc' has no attribute 'product_to_ric'

# check factor data

In [16]:
prod_list = ['rb', 'hc', 'i', 'j', 'jm']
roll_label = 'CAL_30b'
freq = 's1'
db_table = 'fut_fact_data'
#fact_list = ['hc_rb_diff_20', 'hc_rb_diff_40', 'hc_rb_diff_60']
fact_list = ["ryield_1_nmb_120", "basmom_100_nma_120", "basmom_170_nma_120",
             "ryield_1_nma_20", "ryield_1_nma_110"]
start_date = datetime.date(2023,2,1)
end_date = datetime.date(2023,3,3)
df = load_factor_data(prod_list, 
                      factor_list = fact_list,
                      roll_label = roll_label,
                      start = start_date,
                      end = end_date,
                      freq = freq,
                      db_table = db_table)
print(df)

    product_code        date  serial_no serial_key           fact_name  \
0             hc  2023-02-01          0          0  basmom_100_nma_120
1             hc  2023-02-01          0          0  basmom_170_nma_120
2             hc  2023-02-01          0          0    ryield_1_nma_110
3             hc  2023-02-01          0          0     ryield_1_nma_20
4             hc  2023-02-01          0          0    ryield_1_nmb_120
..           ...         ...        ...        ...                 ...
570           rb  2023-03-03          0          0  basmom_100_nma_120
571           rb  2023-03-03          0          0  basmom_170_nma_120
572           rb  2023-03-03          0          0    ryield_1_nma_110
573           rb  2023-03-03          0          0     ryield_1_nma_20
574           rb  2023-03-03          0          0    ryield_1_nmb_120

     fact_val
0   -0.629214
1    0.330975
2    0.869675
3    3.706638
4    0.374252
..        ...
570 -0.834777
571  2.691114
572  1.297319
573  5.837931
574  0.536891

[575 rows x 6 columns]

In [11]:
#xdf = pd.pivot_table(df, values='fact_val', index=['date', 'serial_key'], columns=['fact_name'], aggfunc='last')
pd.concat([xdf['hc_rb_diff_20']]*5, axis=1)

,,hc_rb_diff_20,hc_rb_diff_20,hc_rb_diff_20,hc_rb_diff_20,hc_rb_diff_20
date,serial_key,,,,,
2023-02-01,0,-0.238704,-0.238704,-0.238704,-0.238704,-0.238704
2023-02-02,0,-0.164297,-0.164297,-0.164297,-0.164297,-0.164297
2023-02-03,0,-0.036273,-0.036273,-0.036273,-0.036273,-0.036273
2023-02-06,0,0.094071,0.094071,0.094071,0.094071,0.094071
2023-02-07,0,0.127758,0.127758,0.127758,0.127758,0.127758
2023-02-08,0,0.256759,0.256759,0.256759,0.256759,0.256759
2023-02-09,0,0.275085,0.275085,0.275085,0.275085,0.275085
2023-02-10,0,0.188795,0.188795,0.188795,0.188795,0.188795
2023-02-13,0,0.320512,0.320512,0.320512,0.320512,0.320512
2023-02-14,0,0.411061,0.411061,0.411061,0.411061,0.411061
2023-02-15,0,0.396544,0.396544,0.396544,0.396544,0.396544
2023-02-16,0,0.155155,0.155155,0.155155,0.155155,0.155155
2023-02-17,0,0.075588,0.075588,0.075588,0.075588,0.075588
2023-02-20,0,0.120129,0.120129,0.120129,0.120129,0.120129
2023-02-21,0,-0.069811,-0.069811,-0.069811,-0.069811,-0.069811
2023-02-22,0,-0.110578,-0.110578,-0.110578,-0.110578,-0.110578
2023-02-23,0,-0.030346,-0.030346,-0.030346,-0.030346,-0.030346
2023-02-24,0,0.069524,0.069524,0.069524,0.069524,0.069524
2023-02-27,0,0.155307,0.155307,0.155307,0.155307,0.155307
2023-02-28,0,0.147548,0.147548,0.147548,0.147548,0.147548
2023-03-01,0,0.154792,0.154792,0.154792,0.154792,0.154792
2023-03-02,0,0.198987,0.198987,0.198987,0.198987,0.198987
2023-03-03,0,0.220831,0.220831,0.220831,0.220831,0.220831

# custom run on factor update and strategy fact_repo

In [19]:
import json
import datetime
import json
from pycmqlib3.utility.misc import day_shift, CHN_Holidays, sign, is_workday, inst2product
import pycmqlib3.analytics.data_handler as dh
from misc_scripts.factor_data_update import update_factor_data, generate_strat_position

In [6]:
scenarios_all = [
    ('tscarry', 'ryieldnmb', 2.8, 1, 120, 1, (None, {}, ''), [0.0, 0.0]),

#     ('tscarry', 'ryieldnmb', 1.0, 1, 122, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'ryieldqtl', 0.8, 1, 20, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'ryieldqtl', 0.8, 1, 60, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'ryieldqtl', 0.8, 1, 244, 1, (None, {}, ''), [0.0, 0.0]),

#     ('tscarry', 'basmomnma', 0.7, 100, 120, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'basmomnma', 0.5, 170, 120, 1, (None, {}, ''), [0.0, 0.0]),
#     # ('tscarry', 'basmomnma', 0.2, 230, 120, 1, (None, {}, ''), [0.0, 0.0]),

#     ('tscarry', 'basmomnma', 0.5, 20, 122, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'basmomnma', 0.42, 60, 122, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'basmomnma', 0.35, 120, 122, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'basmomnma', 0.35, 180, 122, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'basmomqtl', 2.0, 120, 20, 1, (None, {}, ''), [0.0, 0.0]),
#     ('tscarry', 'basmomqtl', 1.8, 240, 20, 1, (None, {}, ''), [0.0, 0.0]),

#     ('xscarry', 'ryieldsma', 0.6, 1, 30, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     # ('xscarry', 'ryieldsma', 0.15, 1, 110, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry', 'ryieldsma', 1.5, 1, 190, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry', 'ryieldnma', 1.5, 1, 20, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry', 'ryieldnma', 1.8, 1, 110, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     # ('xscarry', 'ryieldnma', 0.2, 1, 210, 1, (None, {}, ''), [0.0, 0.0], 0.2),

#     ('xscarry-rank', 'ryieldnma', 1.4, 1, 20, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry-rank', 'ryieldnma', 1.4, 1, 122, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry-rank', 'ryieldnma', 1.4, 1, 244, 1, (None, {}, ''), [0.0, 0.0], 0.2),

#     ('xscarry', 'basmomsma', 0.6, 100, 10, 5, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry', 'basmomsma', 0.6, 220, 10, 5, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry', 'basmomnma', 1.5, 80, 120, 5, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry', 'basmomnma', 1.5, 150, 120, 5, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry', 'basmomnma', 1.5, 220, 120, 5, (None, {}, ''), [0.0, 0.0], 0.2),

#     ('xscarry-rank', 'basmomnma', 2.0, 20, 122, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry-rank', 'basmomnma', 2.0, 100, 122, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xscarry-rank', 'basmomnma', 2.0, 170, 122, 1, (None, {}, ''), [0.0, 0.0], 0.2),

#     ('tsmom', 'hlbrk', 2.0, 10, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('tsmom', 'hlbrk', 1.5, 30, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('tsmom', 'hlbrk', 1.2, 240, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('tsmom', 'momnma', 0.2, 10, 60, 1, (None, {}, ''), [0.0]),
#     ('tsmom', 'momnma', 0.07, 220, 60, 1, (None, {}, ''), [0.0]),
#     # ('tsmom', 'momxma', 0.2, 40, 30, 5, (misc.sign, {}, 'sign'), [0.0]),
#     # ('tsmom', 'momxma', 0.15, 40, 80, 5, (misc.sign, {}, 'sign'), [0.0]),
#     # ('tsmom', 'mixmom', 0.375, 10, 1, 10, (misc.sign, {}, 'sign'), [0.0]),
#     # ('tsmom', 'mixmom', 0.3, 30, 1, 10, (misc.sign, {}, 'sign'), [0.0]),
#     # ('tsmom', 'mixmom', 0.3, 220, 1, 10, (misc.sign, {}, 'sign'), [0.0]),
#     # ('tsmom', 'rsixea', 0.25, 30, 40, 5, (misc.sign, {}, 'sign'), [0.0]),
#     # ('tsmom', 'rsixea', 0.25, 30, 110, 5, (misc.sign, {}, 'sign'), [0.0]),
#     # ('xsmom', 'mom', 0.15, 160, 1, 5, (None, {}, ''), [0.0], 0.2),

#     ('tsmom', 'hlbrk', 0.5, 20, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('tsmom', 'hlbrk', 0.5, 40, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('tsmom', 'hlbrk', 0.5, 61, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('tsmom', 'hlbrk', 0.5, 122, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('tsmom', 'hlbrk', 0.5, 244, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('tsmom', 'macdnma', 0.22, 8, 160, 5, (dh.response_curve, {"response": "reverting", "param": 2}, 'reverting'),
#      [1.5, 10.0]),
#     ('tsmom', 'macdnma', 0.20, 16, 160, 5, (dh.response_curve, {"response": "reverting", "param": 2}, 'reverting'),
#      [1.5, 5.0]),
#     ('tsmom', 'macdnma', 0.18, 24, 160, 5, (dh.response_curve, {"response": "reverting", "param": 2}, 'reverting'),
#      [1.5, 3.34]),

#     ('xsmom', 'hlbrk', 1.2, 120, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xsmom', 'hlbrk', 1.2, 240, 1, 10, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xsmom', 'mom', 1.0, 20, 1, 5, (None, {}, ''), [0.0], 0.2),
#     ('xsmom', 'mom', 1.0, 210, 1, 5, (None, {}, ''), [0.0], 0.2),
#     ('xsmom', 'momnma', 1.0, 130, 90, 5, (None, {}, ''), [0.0], 0.2),
#     ('xsmom', 'momnma', 1.0, 240, 90, 5, (None, {}, ''), [0.0], 0.2),
#     ('xsmom', 'momsma', 0.8, 140, 120, 5, (None, {}, ''), [0.0], 0.2),
#     ('xsmom', 'momsma', 0.8, 240, 120, 5, (None, {}, ''), [0.0], 0.2),
#     # ('xsmom', 'rsiema', 0.1, 70, 60, 5, (None, {}, ''), [0.0], 0.2),
#     # ('xsmom', 'rsiema', 0.1, 100, 80, 5, (None, {}, ''), [0.0], 0.2),
#     # ('xsmom', 'rsiema', 0.1, 90, 10, 5, (None, {}, ''), [0.0], 0.2),
#     # ('xsmom', 'macdnma', 0.1, 8, 200, 5, (dh.response_curve, {"response": "absorbing", "param": 2}, "absorbing"), [1.5, 12.5], 0.2),
#     # ('xsmom', 'macdnma', 0.1, 16, 200, 5, (dh.response_curve, {"response": "absorbing", "param": 2}, "absorbing"), [1.5, 6.25], 0.2),
#     # ('xsmom', 'macdnma', 0.1, 32, 200, 5, (dh.response_curve, {"response": "absorbing", "param": 2}, "absorbing"), [1.5, 3.125], 0.2),
#     # ('xsmom', 'macdnma', 0.1, 64, 100, 5, (dh.response_curve, {"response": "absorbing", "param": 2}, "absorbing"), [1.5, 1.56], 0.2),

#     ('xsmom-rank', 'hlbrk', 0.375, 20, 1, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xsmom-rank', 'hlbrk', 0.375, 40, 1, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xsmom-rank', 'hlbrk', 0.375, 61, 1, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xsmom-rank', 'hlbrk', 0.375, 122, 1, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xsmom-rank', 'hlbrk', 0.375, 244, 1, 1, (None, {}, ''), [0.0, 0.0], 0.2),
#     ('xsmom-rank', 'momnma', 0.6, 10, 10, 1, (None, {}, ''), [0.0], 0.2),
#     ('xsmom-rank', 'momnma', 0.6, 130, 120, 1, (None, {}, ''), [0.0], 0.2),
#     ('xsmom-rank', 'momnma', 0.6, 240, 60, 1, (None, {}, ''), [0.0], 0.2),
]


commod_mkts = ['rb', 'hc',]

# commod_mkts = ['rb', 'hc', 'i', 'j', 'jm', 'ru', 'FG', 'cu', 'al', 'zn', 'pb', 'ni', 'sn', \
#                'l', 'pp', 'v', 'TA', 'sc', 'm', 'RM', 'y', 'p', 'OI', 'a', 'c', 'CF', 'jd', \
#                'AP', 'SM', 'SF', 'ss', 'CJ', 'UR', 'eb', 'eg', 'pg', 'T', 'PK', 'PF', 'lh', \
#                'MA', 'SR', 'cs', 'TF', 'lu', 'fu']

In [7]:
edate=datetime.date(2023,3,1)
start_date = day_shift(edate, '-30m')

run_settings = [
    ('commod_cal', commod_mkts, scenarios_all, 'CAL_30b', 's1'),
#     ('commod_hot', commod_mkts, scenarios_all, 'hot', 'd1'),
#     ('commod_exp', commod_mkts, scenarios_all, 'expiry', 'd1'),
]

res = {}
for (fact_key, fact_mkts, scenarios, roll_label, freq) in run_settings:
    res[fact_key] = update_factor_data(fact_mkts, scenarios, start_date, edate, roll_rule=roll_label, freq=freq)

loading mkt = rb

C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:76: SAWarning: Can't validate argument 'replace_string'; can't locate any SQLAlchemy dialect named 'replace'
  conn.execute(table.table.insert(replace_string=""), data)

loading mkt = hc

In [10]:

posfile = '%s%s_%s.json' % (pos_loc, port_file, pos_date)

with open("C:/dev/data/new_strat.json", 'w') as f:
    json.dump(res, f, indent=4)

In [27]:
port_pos_config = {
    'PT_FACTPORT3': {
        'pos_loc': 'C:/dev/pyktrader3/process/pt_test3',
        'roll': 'CAL_30b', 
        'strat_list': [
            ('PT_FACTPORT_TEST.json', 4600, 's1'),
            ('PT_FACTPORT_HCRB.json', 50000, 's1'),
        ],},
}

In [31]:
# pos_chg_notification = ['PT_FACTPORT3_CAL_30b', 'PT_FACTPORT1_hot']
# port_pos_config = [
#     ('PT_FACTPORT3', 'C:/dev/pyktrader3/process/pt_test3/', 4600, 'CAL_30b', 's1'),
#     ('PT_FACTPORT1', 'C:/dev/pyktrader3/process/pt_test3/', 4600, 'CAL_30b', 's1'),
#     ('PT_FACTPORT3', 'C:/dev/pyktrader3/process/pt_test3/', 4600, 'hot', 'd1'),
#     ('PT_FACTPORT1', 'C:/dev/pyktrader3/process/pt_test3/', 4600, 'hot', 'd1'),
#     ('PT_FACTPORT3', 'C:/dev/pyktrader3/process/pt_test3/', 4600, 'expiry', 'd1'),
#     ('PT_FACTPORT1', 'C:/dev/pyktrader3/process/pt_test3/', 4600, 'expiry', 'd1'),
# ]

edate=datetime.date(2023,3,3)
target_pos = {}
pos_sum = {}
pos_by_strat = {}
for port_name in port_pos_config.keys():
    pos_loc = port_pos_config[port_name]['pos_loc']
    roll = port_pos_config[port_name]['roll']
    port_file = port_name + '_' + roll
    for strat_file, pos_scaler, freq in port_pos_config[port_name]['strat_list']:
        config_file = f'{pos_loc}/settings/{strat_file}'
        with open(config_file, 'r') as fp:
            strat_conf = json.load(fp)
        strat_args = strat_conf['config']
        assets = strat_args['assets']
        repo_type = strat_args['repo_type']
        factor_repo = strat_args['factor_repo']
        
        product_list = []
        for asset_dict in assets:
            under = asset_dict["underliers"][0]
            product = inst2product(under)
            product_list.append(product)

        strat_target, strat_sum = generate_strat_position(edate, product_list, factor_repo,
                                                          repo_type=repo_type,
                                                          roll_label=roll,
                                                          pos_scaler=pos_scaler,
                                                          freq=freq,
                                                          hist_fact_lookback=20)
        pos_by_strat[strat_file] = strat_target
        
        for prod in strat_target:
            if prod not in target_pos:
                target_pos[prod] = 0
            target_pos[prod] += strat_target[prod]

    for prodcode in target_pos:
        if prodcode == 'CJ':
            target_pos[prodcode] = int((target_pos[prodcode]/4 + (0.5 if target_pos[prodcode] > 0 else -0.5)))*4
        elif prodcode == 'ZC':
            target_pos[prodcode] = int((target_pos[prodcode]/2 + (0.5 if target_pos[prodcode] > 0 else -0.5)))*2
        else:
            target_pos[prodcode] = int(target_pos[prodcode] + (0.5 if target_pos[prodcode] > 0 else -0.5))    
        
    pos_date = day_shift(edate, '1b', CHN_Holidays)
    pre_date = day_shift(pos_date, '-1b', CHN_Holidays)
    pos_date = pos_date.strftime('%Y%m%d')
    pre_date = pre_date.strftime('%Y%m%d')
    posfile = '%s/%s_%s.json' % (pos_loc, port_file, pos_date)
    with open(posfile, 'w') as ofile:
        json.dump(target_pos, ofile, indent=4)
#     pos_sum.index.name = 'factor'
#     pos_sum.to_csv('%spos_by_strat_%s_%s.csv' % (pos_loc, port_file, pos_date))
#     if port_file in pos_chg_notification:
#         with open('%s%s_%s.json' % (pos_loc, port_file, pre_date), 'r') as fp:
#             curr_pos = json.load(fp)

#         pos_df = pd.DataFrame({'cur': curr_pos, 'tgt': target_pos})

#         pos_df['diff'] = pos_df['tgt'] - pos_df['cur']

#         pos_update[port_file] = pos_df

In [29]:
strat_sum

,rb,hc,i,j,jm,FG,v,UR,cu,al,zn,ni,sn,ss
hc_rb_diff_20,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09,0.09
hc_rb_diff_30,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
hc_rb_diff_40,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03,0.03

In [43]:
from pycmqlib3.utility.email_tool import send_html_by_smtp
from pycmqlib3.utility.sec_bits import EMAIL_HOTMAIL


job_status={
    "fut_daily": {
        "DCE": True,
        "CFFEX": True,
        "CZCE": True,
        "SHFE": True,
        "INE": True,
        "GFEX": True
    },
    "fact_repo": {
        "commod_cal": True
    }
}
edate=datetime.date(2023,1,31)
sub = 'EOD pos and job status<%s>' % (edate.strftime('%Y.%m.%d'))
html = "<html><head></head><body><p><br>"
for key in pos_update:
    html += "Position change for %s:<br>%s" % (key, pos_update[key].to_html())
html += "Job status: %s <br>" % (json.dumps(job_status))
html +="</p></body></html>"
send_html_by_smtp(EMAIL_HOTMAIL, ['harveywu@gmail.com'], sub, html)

True

# WtDtServo and DataHelper data checking

In [12]:
from pycmqlib3.utility.process_wt_data import *

In [19]:
dataseries.nearby('SHFE.rb', n=1, freq='d',start_date=20210101, end_date=20230203,shift_mode=1)

SHFE.rb.2105 SHFE rb2105
SHFE.rb.2110 SHFE rb2110
SHFE.rb.2201 SHFE rb2201
SHFE.rb.2205 SHFE rb2205
SHFE.rb.2210 SHFE rb2210
SHFE.rb.2301 SHFE rb2301
SHFE.rb.2305 SHFE rb2305

,contract,date,open,high,low,close,volume,openInterest,diff_oi,shift
0,rb2105,2021-01-04,3732.0,3785.0,3685.0,3761.0,1420698.0,1220915.0,3588.0,-622.0
1,rb2105,2021-01-05,3766.0,3804.0,3737.0,3775.0,1578335.0,1257064.0,36149.0,-622.0
2,rb2105,2021-01-06,3778.0,3825.0,3693.0,3755.0,2154746.0,1236056.0,-21008.0,-622.0
3,rb2105,2021-01-07,3755.0,3851.0,3741.0,3833.0,2098980.0,1313573.0,77517.0,-622.0
4,rb2105,2021-01-08,3833.0,3889.0,3813.0,3865.0,2047522.0,1321813.0,8240.0,-622.0
...,...,...,...,...,...,...,...,...,...,...
38,rb2305,2023-01-30,4230.0,4273.0,4190.0,4201.0,1048134.0,1882832.0,71189.0,0.0
39,rb2305,2023-01-31,4200.0,4218.0,4141.0,4143.0,1119159.0,1953462.0,70630.0,0.0
40,rb2305,2023-02-01,4143.0,4178.0,4075.0,4084.0,1500523.0,1994915.0,41453.0,0.0
41,rb2305,2023-02-02,4090.0,4135.0,4029.0,4042.0,1540806.0,1967591.0,-27325.0,0.0
42,rb2305,2023-02-03,4050.0,4059.0,3993.0,4055.0,1340933.0,1962672.0,-4923.0,0.0

In [1]:
from wtpy.wrapper import WtDataHelper
from wtpy import WtDtServo

In [11]:
pd

NameError: name 'pd' is not defined

In [2]:
folder_loc='C:/dev/wtdev/storage/his'
period='day'
exch = 'SHFE'
file = 'ni1807.dsb'
dtHelper = WtDataHelper()

src_path = '%s/%s/%s' % (folder_loc, period, exch)
dst_df = dtHelper.read_dsb_bars(f'{src_path}/{file}')
ddf = dst_df.to_df()
ddf

,date,bartime,open,high,low,close,settle,money,volume,hold,diff
199000000000,20170718,199000000000,81800.0,82890.0,80150.0,81860.0,81720.0,1634400.0,20.0,6.0,0.0
199000000000,20170721,199000000000,81340.0,81340.0,81340.0,81340.0,81340.0,162680.0,2.0,6.0,0.0
199000000000,20170724,199000000000,80880.0,80880.0,80880.0,80880.0,80880.0,161760.0,2.0,8.0,2.0
199000000000,20170728,199000000000,85480.0,85760.0,85480.0,85480.0,85570.0,513420.0,6.0,12.0,4.0
199000000000,20170731,199000000000,86200.0,86360.0,86200.0,86360.0,86300.0,517800.0,6.0,16.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
199000000000,20180710,199000000000,111150.0,111930.0,109970.0,111830.0,111480.0,334440000.0,3000.0,12660.0,-720.0
199000000000,20180711,199000000000,111850.0,112350.0,107500.0,109050.0,109270.0,343544880.0,3144.0,11508.0,-1152.0
199000000000,20180712,199000000000,110980.0,114940.0,110900.0,113200.0,112900.0,253347600.0,2244.0,11124.0,-384.0
199000000000,20180713,199000000000,112650.0,113000.0,112210.0,112300.0,112720.0,58163520.0,516.0,10788.0,-336.0
199000000000,20180716,199000000000,111620.0,111700.0,109500.0,109890.0,110370.0,30462120.0,276.0,10944.0,156.0

In [10]:
dtServo = WtDtServo()
folder_loc='C:/dev/wtdev'
dtServo.setBasefiles(folder=f"{folder_loc}/common/")
dtServo.setStorage(path=f'{folder_loc}/storage/')
df = dtServo.get_bars('SHFE.rb.2305', period='d1', fromTime=202212202100, endTime=202302032300).to_df()
df

,date,bartime,open,high,low,close,settle,money,volume,hold,diff
0,20221220,0,3927.0,3964.0,3898.0,3939.0,3931.0,5.995086e+10,1525034.0,1822179.0,-24263.0
0,20221221,0,3950.0,4037.0,3929.0,4034.0,3978.0,5.925980e+10,1489491.0,1904049.0,81870.0
0,20221222,0,4047.0,4047.0,3950.0,3961.0,4000.0,6.623733e+10,1655882.0,1859635.0,-44414.0
0,20221223,0,3966.0,4017.0,3932.0,4005.0,3979.0,6.672094e+10,1676702.0,1900337.0,40702.0
0,20221226,0,4009.0,4020.0,3940.0,4006.0,3985.0,6.531055e+10,1638853.0,1897487.0,-2850.0
0,20221227,0,3999.0,4078.0,3994.0,4066.0,4039.0,5.708621e+10,1413061.0,1932125.0,34638.0
0,20221228,0,4060.0,4075.0,4011.0,4050.0,4045.0,5.116084e+10,1264540.0,1918199.0,-13926.0
0,20221229,0,4054.0,4071.0,4000.0,4048.0,4032.0,6.466601e+10,1603581.0,1895064.0,-23135.0
0,20221230,0,4052.0,4125.0,4049.0,4105.0,4087.0,6.945437e+10,1699077.0,1931845.0,36781.0
0,20230103,0,4100.0,4100.0,4016.0,4063.0,4044.0,5.039089e+10,1245821.0,1882723.0,-49122.0
0,20230104,0,4061.0,4084.0,4010.0,4027.0,4045.0,5.594287e+10,1383006.0,1874643.0,-8080.0
0,20230105,0,4015.0,4024.0,3970.0,4017.0,4001.0,6.091715e+10,1522301.0,1825776.0,-48867.0
0,20230106,0,4031.0,4122.0,4023.0,4107.0,4070.0,7.044603e+10,1730447.0,1923950.0,98174.0
0,20230109,0,4105.0,4140.0,4072.0,4093.0,4100.0,6.592263e+10,1607579.0,1863784.0,-60166.0
0,20230110,0,4103.0,4136.0,4087.0,4124.0,4109.0,4.451952e+10,1083219.0,1930856.0,67072.0
0,20230111,0,4120.0,4172.0,4101.0,4161.0,4136.0,4.600966e+10,1112383.0,1955990.0,25134.0
0,20230112,0,4152.0,4163.0,4091.0,4136.0,4126.0,5.439544e+10,1318042.0,1867251.0,-88739.0
0,20230113,0,4131.0,4186.0,4113.0,4173.0,4154.0,5.310272e+10,1278231.0,1927798.0,60547.0
0,20230116,0,4150.0,4151.0,4081.0,4093.0,4112.0,5.928522e+10,1441664.0,1829618.0,-98180.0
0,20230117,0,4084.0,4139.0,4065.0,4119.0,4102.0,4.208386e+10,1025767.0,1844213.0,14595.0
0,20230118,0,4140.0,4176.0,4125.0,4165.0,4155.0,3.738298e+10,899703.0,1856961.0,12748.0
0,20230119,0,4166.0,4200.0,4154.0,4196.0,4180.0,3.822995e+10,914584.0,1854203.0,-2758.0
0,20230120,0,4195.0,4196.0,4155.0,4179.0,4176.0,3.416415e+10,817918.0,1811643.0,-42560.0
0,20230130,0,4230.0,4273.0,4190.0,4201.0,4234.0,4.438742e+10,1048134.0,1882832.0,71189.0
0,20230131,0,4200.0,4218.0,4141.0,4143.0,4181.0,4.679266e+10,1119159.0,1953462.0,70630.0
0,20230201,0,4143.0,4178.0,4075.0,4084.0,4123.0,6.187108e+10,1500523.0,1994915.0,41453.0
0,20230202,0,4090.0,4135.0,4029.0,4042.0,4088.0,6.299434e+10,1540806.0,1967591.0,-27325.0
0,20230203,0,4050.0,4059.0,3993.0,4055.0,4031.0,5.406018e+10,1340933.0,1962672.0,-4923.0

# Excel sheets updating and saving

In [11]:
import os
import time
import pandas as pd
import win32com.client as win32

In [ ]:
'C:/Users/harvey/OneDrive/Documents/china_fundamentals/ifind_inv.xlsx'

In [9]:

import win32com.client as win32
excel = win32.Dispatch("Excel.Application")
outfile = 'C:/Users/harvey/OneDrive/Documents/inventory_data.xlsx'
wb = excel.Workbooks.Open(outfile)
time.sleep(30)
wb.RefreshAll()

for conn in wb.Connections:
    conn.Refresh()
    
#excel.CalculateUntilAsyncQueriesDone()
wb.Save()
wb.Close()
excel.Quit()

In [14]:
xlapp = win32.gencache.EnsureDispatch("Excel.Application")
xlapp.Interactive = False
xlapp.Application.EnableEvents = False
xlapp.DisplayAlerts = False  # Suppress any Alert windows, which require User action
xlapp.AskToUpdateLinks = False # Disable automatic update linking
xlapp.Visible = True  # Run the Application in the background

outfile = 'C:/Users/harvey/OneDrive/Documents/inventory_data.xlsx'
wb_7 = xlapp.Workbooks.Open(outfile)

# wb_7.UpdateLinks = 0

wb_7.RefreshAll()
xlapp.CalculateUntilAsyncQueriesDone()
time.sleep(30)
wb_7.Save()
wb_7.Close()

xlapp.Interactive = True
xlapp.DisplayAlerts = True  # Suppress any Alert windows, which require User action
xlapp.AskToUpdateLinks = True  # Disable automatic update linking
xlapp.Application.EnableEvents = True
xlapp.Visible = True  # Run the Application in the background
xlapp.Quit()    # Close Excel

In [13]:
outfile = 'C:/Users/harvey/OneDrive/Documents/inventory_data.xlsx'
pd.read_excel(outfile, index_col=None, skiprows=[0, 1, 3, 4, 5, 6, 7], sheet_name='steel')

,,,.1,.2,.3,.4,.5,.6,.7,.8,...,.10,.11,.12,.13,.14,.15,.16,.17,.18,.19
0,2022-12-02,182.07,48.77,80.07,40.52,78.30,50.51,16.15,64.51,354.57,...,93.27,21.70,121.91,276.75,536.64,192.72,113.28,143.78,37.85,162.43
1,2022-11-25,178.90,49.52,83.85,40.79,80.30,51.64,16.46,65.43,353.37,...,96.02,22.13,123.17,284.35,532.27,193.90,114.95,147.66,38.59,163.96
2,2022-11-18,174.85,48.31,86.62,40.26,79.95,52.23,16.56,71.26,363.80,...,98.88,22.61,124.04,298.71,538.65,193.47,119.57,151.11,39.17,164.30
3,2022-11-11,180.91,59.63,92.20,40.85,82.93,53.10,16.13,76.78,379.03,...,103.57,22.59,124.45,314.92,559.94,199.10,136.41,156.67,38.72,165.30
4,2022-11-04,189.99,66.36,85.99,40.31,78.70,53.09,15.81,83.99,396.13,...,106.35,22.86,126.40,319.71,586.12,196.21,150.35,159.44,38.67,166.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2015-04-03,331.60,85.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,2015-03-27,392.72,106.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
398,2015-03-20,434.49,119.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
399,2015-03-13,447.15,129.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,2015-03-06,413.39,120.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import openpyxl
import time

In [7]:

# Open the Excel file
workbook = openpyxl.load_workbook('C:/Users/harvey/OneDrive/Documents/china_fundamentals/ifind_inv.xlsx')

time.sleep(10)
# Select the sheet
for sheet_name in ['ferrous_inv1', 'ferrous_inv2', 'base_inv1', 'base_inv2']:
    sheet = workbook[sheet_name]
    sheet.calculate_dimension()
    time.sleep(10)
#     # Refresh formulas in cells A1 to A10
#     sheet.refresh_all_formulas(ranges=['A1:A10'])
    

# Save the changes
workbook.save('ifind_inv.xlsx')

# check upcoming nearby rolling

In [ ]:
end_date = datetime.date(2023, 1, 3) # datetime.date.today()
start_date = misc.day_shift(end_date, '-120d')
print(start_date, end_date)

roll_dict = {
    'm': 30,
    'RM': 30,
    'rb': 30,
    'ru': 30,
    'sc': 20,
    'lu': 45,
    'eb': 20,
    'eg': 30,
    'cu': 25,
    'jd': 40,
    'lh': 40,
    'T': 20,
    'pg': 30,
}

shift_scope = 15
for prod in ['m', 'RM', 'rb', 'sc', 'lu', 'eb', 'eg', 'cu', 'jd', 'lh', 'T','pg']:
    test_roll = roll_dict[prod] + shift_scope
    nc_df1 = misc.nearby(prod, 1, start_date = start_date, end_date = end_date, roll_rule = f'-{test_roll}b',shift_mode=1)    
    curr_cont = nc_df1['contract'][-shift_scope-1]
    for i in range(shift_scope, 0, -1):
        if curr_cont != nc_df1['contract'][-i]:
            print('%s roll into %s in %s bzdays for current roll rule (%s)' % 
                  (curr_cont, nc_df1['contract'][-i], shift_scope - i, f'-{roll_dict[prod]}b'))
            #print(nc_df1.tail(10))
            break

In [ ]:
#df = pd.read_csv('C:\\dev\\pyktrader3\\process\\option_test\\volgrids_IO_220715.csv', header=None)
#df

In [ ]:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)

# check contract by product (for OI/volume evolution)

In [ ]:
print(load_fut_by_product('zn', 'SHFE', datetime.date(2022,12,30),datetime.date(2023,1,3)))

# AKShare load future daily data

In [ ]:
from misc_scripts.aks_data_update import update_hist_fut_daily, update_spot_daily, \
                            update_exch_receipt_table, update_exch_inv_table, update_rank_table

In [ ]:
update_hist_fut_daily(datetime.date(2022,12,3), datetime.date(2023,1,3), exchanges = ['GFEX'], flavor = 'mysql', fut_table = 'fut_daily')

In [ ]:
import akshare as ak

In [ ]:
ak.get_futures_daily(start_date = "20230103", end_date = "20230103", market = "SHFE")

# ak.get_futures_daily(start_date='20230103',end_date='20230106', market='DCE')

# check nearby rolling

In [ ]:
start_date = datetime.date(2020,1,2)
end_date = datetime.date(2022,10,14)
nc_df1 = misc.nearby('pg', 1, start_date = start_date, end_date = end_date, roll_rule='-32b',shift_mode=1)
#nc_df2 = misc.nearby('pg', 1, start_date = start_date, end_date = end_date, roll_rule='-30b',shift_mode=1)

nc_df1 #, nc_df2
#nc1_df = misc.nearby('al', 2, start_date = start_date, end_date = end_date, roll_rule='-20b',shift_mode=1)
#nc2_df = misc.nearby('al', 2, start_date = start_date, end_date = end_date, roll_rule='-20b',shift_mode=2)
#print(nc_df, nc1_df, nc2_df)

In [ ]:
start_date = datetime.date(2021,1,1)
end_date = datetime.date(2022,6,28)

#load_fut_by_product('i', 'DCE', start_date ,end_date, freq = 'd')

prodcode = 'sc'
df1 = dataseries.nearby(prodcode, n = 1, start_date = start_date, end_date = end_date,
           roll_rule = '-25b', freq = 'd', shift_mode = 1, 
           adj_field = 'close', calc_fields = ['open', 'close', 'high', 'low'], 
           fill_cont = False,
          )

df2 = misc.nearby(prodcode, n = 1, start_date = start_date, end_date = end_date, roll_rule = '-25b', freq = 'd', shift_mode = 1)

print(df1, df2)

# this is testing for new nearby rolling

In [ ]:
from pycmqlib3.utility.dataseries import *

ferrous_products_mkts = ['rb', 'hc', 'i', 'j', 'jm']
ferrous_mixed_mkts = ['ru', 'FG', 'ZC', 'SM', "SF", 'nr']
base_metal_mkts = ['cu', 'al', 'zn', 'pb', 'ni', 'sn', 'ss']
precious_metal_mkts = ['au', 'ag']
ind_metal_mkts = ferrous_products_mkts + ferrous_mixed_mkts + base_metal_mkts  
petro_chem_mkts = ['l', 'pp', 'v', 'TA', 'MA', 'bu', 'sc', 'fu', 'eg', 'eb', 'lu', 'pg', 'PF'] 
ind_all_mkts = ind_metal_mkts + petro_chem_mkts
ags_oil_mkts = ['m', 'RM', 'y', 'p', 'OI', 'a', 'c', 'cs', 'b'] #, 'b']
ags_soft_mkts = ['CF', 'SR', 'jd', 'AP', 'sp', 'CJ', 'UR', 'SA', 'lh', 'PK',] # 'CY',] 
ags_all_mkts = ags_oil_mkts + ags_soft_mkts
eq_fut_mkts = ['IF', 'IH', 'IC', 'IM',]
bond_fut_mkts = ['T', 'TF', 'TS']
fin_all_mkts = eq_fut_mkts + bond_fut_mkts
commod_all_mkts = ind_all_mkts + ags_all_mkts + precious_metal_mkts
all_markets = commod_all_mkts + fin_all_mkts

In [ ]:
setting_dict = {
    'rb': [datetime.date(2009,8,13), datetime.date(2009,8,13), 5000, '-20b'], 
    'hc': [datetime.date(2014,3,21), datetime.date(2015,12,11), 5000, '-20b'],
    'i': [datetime.date(2013,10,18), datetime.date(2014,4,10), 5000, '-20b'],
    'j': [datetime.date(2011,4,15), datetime.date(2012,5,7), 5000, '-20b'],
    'jm': [datetime.date(2013,3,22), datetime.date(2013,3,22), 5000, '-20b'],
    'ru': [datetime.date(2008,10,10), datetime.date(2008,10,10), 5000, '-20b'], 
    'FG': [datetime.date(2012,12,7), datetime.date(2012,12,7), 5000, '-20b'], 
    'ZC': [datetime.date(2013,9,26), datetime.date(2013,9,26), 5000, '-20b'],
    'SM': [datetime.date(2016,7,26), datetime.date(2016,10,11), 5000, '-20b'], 
    'SF': [datetime.date(2016,7,27), datetime.date(2017,3,13), 5000, '-20b'],    
    'nr': [datetime.date(2019,8,12), datetime.date(2019,8,12), 5000, '-20b'],
    'cu': [datetime.date(2008,1,2), datetime.date(2008,1,2), 5000, '-20b'], 
    'al': [datetime.date(2008,1,2), datetime.date(2008,1,2), 5000, '-20b'],
    'zn': [datetime.date(2008,1,2), datetime.date(2008,1,2), 5000, '-20b'],
    'pb': [datetime.date(2014,7,25), datetime.date(2014,7,25), 5000, '-20b'],
    'ni': [datetime.date(2015,6,17), datetime.date(2015,6,17), 5000, '-20b'], 
    'sn': [datetime.date(2017,5,2), datetime.date(2017,5,2), 5000, '-20b'],
    'ss': [datetime.date(2019,9,25), datetime.date(2020, 1, 6), 5000, '-20b'],
    
    'l': [datetime.date(2008,1,18), datetime.date(2010,4,14), 5000, '-20b'],
    'pp': [datetime.date(2014,2,28), datetime.date(2014,2,28), 5000, '-20b'], 
    'v': [datetime.date(2009,5,25), datetime.date(2010,8,16), 5000, '-20b'],   
    'TA': [datetime.date(2007,7,10), datetime.date(2008,7,10), 5000, '-20b'],
    'MA': [datetime.date(2011,10,28), datetime.date(2013,10,22), 5000, '-20b'], 
    'sc': [datetime.date(2018, 3, 26), datetime.date(2018,8,30), 5000, '-20b'],
    'bu': [datetime.date(2015, 1,16), datetime.date(2015,7,1), 5000, '-20b'],
    'fu': [datetime.date(2018, 7, 17), datetime.date(2018,10,10), 5000, '-20b'],
    'lu': [datetime.date(2020, 10, 9), datetime.date(2020, 10, 9), 5000, '-20b'], 
    'eb': [datetime.date(2020, 5, 6), datetime.date(2020, 6, 1), 5000, '-20b'],
    'eg': [datetime.date(2019, 4, 2), datetime.date(2019, 4, 2), 5000, '-20b'],
    'pg': [datetime.date(2020, 9, 7), datetime.date(2020, 9, 7), 5000, '-20b'],
    'PF': [datetime.date(2021,1,5), datetime.date(2021,3,1), 5000, '-20b'],
        
    'a': [datetime.date(2008,1,2), datetime.date(2008,1,2), 5000, '-20b'],
    'b': [datetime.date(2019,7,1), datetime.date(2019,7,1), 5000, '-20b'],
    'm': [datetime.date(2008,1,2), datetime.date(2008,1,2), 5000, '-20b'],
    'RM': [datetime.date(2012,12,28), datetime.date(2012,12,28), 5000, '-20b'], 
    'y': [datetime.date(2008,1,2), datetime.date(2008,1,2), 5000, '-20b'],  
    'p':  [datetime.date(2008,1,2), datetime.date(2008,1,2), 4000, '-20b'], 
    'OI': [datetime.date(2013,2,21), datetime.date(2013,2,21), 5000, '-20b'], 
    'c': [datetime.date(2008,1,2), datetime.date(2008,1,2), 5000, '-20b'],
    'cs': [datetime.date(2014,12,19), datetime.date(2014,12,19), 5000, '-20b'], 
    
    'UR': [datetime.date(2019, 8, 9), datetime.date(2019, 8, 9), 5000, '-20b'],
    'SA': [datetime.date(2019,12,6), datetime.date(2019,12,6), 5000, '-20b'],
    'CF': [datetime.date(2008,7,14), datetime.date(2008,7,14), 5000, '-20b'], 
    'CY': [datetime.date(2017, 9, 1), datetime.date(2017, 9, 1), 5000, '-20b'],
    'SR': [datetime.date(2008,7,10), datetime.date(2008,7,10), 5000, '-20b'],
    'AP': [datetime.date(2017,12,22), datetime.date(2017,12,22), 5000, '-20b'],
    'jd': [datetime.date(2013,11,8), datetime.date(2013,11,8), 5000, '-20b'], 
    'lh': [datetime.date(2021,1,8), datetime.date(2021,1,8), 5000, '-20b'],    
    'PK': [datetime.date(2021,2,1), datetime.date(2021,2,1), 5000, '-20b'],
    'CJ': [datetime.date(2019,4,30), datetime.date(2019,4,30), 5000, '-20b'],
    'rr': [datetime.date(2019, 9, 1), datetime.date(2019, 9, 1), 5000, '-20b'],
    'sp': [datetime.date(2018,11,27), datetime.date(2018,11,27), 5000, '-20b'],
    
    'au': [datetime.date(2010,1,4), datetime.date(2015,1,16), 5000, '-20b'],
    'ag': [datetime.date(2012,5,10), datetime.date(2019,6,26), 5000, '-20b'],
    'IF': [datetime.date(2010,5,1), datetime.date(2010,5,1), 5000, '-20b'], 
    'IH': [datetime.date(2015,5,1), datetime.date(2015,5,1), 5000, '-20b'], 
    'IC': [datetime.date(2015,5,1), datetime.date(2015,5,1), 5000, '-20b'], 
    'TF': [datetime.date(2019,6,1), datetime.date(2019,6,1), 5000, '-20b'],
    'T': [datetime.date(2019,4,1), datetime.date(2019,4,1), 5000, '-20b'], 
    'TS': [datetime.date(2018, 9, 1), datetime.date(2018, 9, 1), 5000, '-20b'],
    'PM': [datetime.date(2013,10,1), datetime.date(2013,10,1), 5000, '-20b'], 
    'RI': [datetime.date(2013,1,1), datetime.date(2013,1,1), 5000, '-20b'], 
    'WH': [datetime.date(2014,5,1), datetime.date(2014,5,1), 5000, '-20b'], 
}

# script to batch generate nearby rolling csv file

In [ ]:
start_date = datetime.date(2008,1,1)
end_date = datetime.date(2022,7,22)
freq = 'd'
roll_mode = 0
nb_cont = 2

#sn need to fix 2019-12
# IF IC IH need to roll quarterly and how to roll monthly
roll_name = 'nroll'
roll_win = 3
cont_thres = 50_000
cont_ratio = [1.0, 0.0]
folder = "C:\\dev\\pyktrader3\\data\\carry"
for prodcode in commod_all_mkts: #bond_fut_mkts: #: # petro_chem_mkts
    min_thres = 7_500
    roll_cutoff = '-20b'
    contract_filter = None
    if prodcode in ['IF', 'IC', 'IH', 'sc',]:
        min_thres = 0.1 * min_thres
    elif prodcode in ['j', 'ni', 'sn', 'cu', 'bc', 'lh']:
        min_thres = 0.2 * min_thres
    elif prodcode in ['ru', 'nr', 'al', 'zn', 'pb', 'jm', 'ss', 'PK', 'b',]:
        min_thres = 0.5 * min_thres
    elif prodcode in ['SM', 'SF', 'FG', 'i', 'AP', 'eb', ]:
        min_thres = 0.8 * min_thres
    elif prodcode in ['T', 'TF', 'TS']:
        min_thres = 0
    if prodcode in ['IF', 'IC', 'IH']:
        roll_cutoff = '0b'

#     if prodcode in ['j', ]:
#         contract_filter = prod_main_cont_filter
    roll_kwargs = {'roll_win': roll_win, 'roll_cutoff': roll_cutoff, 'cont_ratio': cont_ratio,
                   'contract_filter': contract_filter, 'min_thres': min_thres}
    df = load_processed_fut_by_product(prodcode, start_date=start_date, end_date=end_date, freq=freq, **roll_kwargs)
    roll_map, daily_cont = rolling_fut_cont(df, nb_cont=nb_cont, cont_thres=cont_thres, roll_mode=roll_mode)
    if roll_map.iloc[-1, 1] == None:
        roll_map.iat[-1, 1] = misc.default_next_main_contract(roll_map.iloc[-1, 0], start_date, end_date)
    flag = roll_map[1].isna()
    print(prodcode, roll_map)
    roll_map.loc[flag, 1] = roll_map.loc[flag.shift(1).fillna(False), 0].values
    file_name = "%s\\%s_%s.csv" % (folder, prodcode, roll_name) 
    roll_map.to_csv(file_name)

# single product rolling testing

In [ ]:
start_date = datetime.date(2010,1,1)
end_date = datetime.date(2022,7,15)
freq = 'd'
roll_mode = 0
nb_cont = 2

roll_name = 'nroll'
roll_win = 3
cont_thres = 50_000
cont_ratio = [1.0, 0.0]

prodcode = 'rb'
min_thres = 7_500
roll_cutoff = '-20b'
contract_filter = None

roll_kwargs = {'roll_win': roll_win, 'roll_cutoff': roll_cutoff, 'cont_ratio': cont_ratio,
               'contract_filter': contract_filter, 'min_thres': min_thres}
df = load_processed_fut_by_product(prodcode, start_date=start_date, end_date=end_date, freq=freq, **roll_kwargs)
roll_map, daily_cont = rolling_fut_cont(df, nb_cont=nb_cont, cont_thres=cont_thres, roll_mode=roll_mode)

In [ ]:
end_date = datetime.date(2022,9,22)
shift_mode = 1

roll_mode = 0
roll_name = 'nroll'
nb_cont = 2

roll_win = 3
cont_thres = 50_000
cont_ratio = [1.0, 0.0]

min_thres = 0
roll_cutoff = '-5b'
contract_filter = None
    
folder = "C:\\dev\\pyktrader3\\data\\carry"

data_df = pd.DataFrame()
for prodcode in ['rb', 'hc', 'i', 'j']: 
    if prodcode in ['IF', 'IC', 'IH', 'sc',]:
        min_thres = 0.1 * min_thres
    elif prodcode in ['j', 'ni', 'sn', 'cu', 'bc', 'lh']:
        min_thres = 0.2 * min_thres
    elif prodcode in ['ru', 'nr', 'al', 'zn', 'pb', 'jm', 'ss', 'PK', 'b',]:
        min_thres = 0.5 * min_thres
    elif prodcode in ['SM', 'SF', 'FG', 'i', 'AP', 'eb', ]:
        min_thres = 0.8 * min_thres
    elif prodcode in ['T', 'TF', 'TS']:
        min_thres = 0
    if prodcode in ['IF', 'IC', 'IH']:
        roll_cutoff = '0b'
    roll_kwargs = {'roll_win': roll_win, 'roll_cutoff': roll_cutoff, 'cont_ratio': cont_ratio,
                   'contract_filter': contract_filter, 'min_thres': min_thres}
    
    setting = setting_dict[prodcode]
    file_name = "%s\\%s_%s.csv" % (folder, prodcode, roll_name) 
    roll_map = pd.read_csv(file_name).set_index('date')
    nb_df = nearby_series(prodcode, start_date=setting[0], end_date = end_date, shift_mode = shift_mode,
                  freq='d', roll_kwargs=roll_kwargs, roll_map = roll_map)
    for key in nb_df:
        fields = nb_df[key].columns
        nb_df[key]['product'] = prodcode
        nb_df[key]['code'] = key
        data_df = data_df.append(nb_df[key])
print(fields)    
#     df = pd.concat([nb_df[key] for key in nb_df],axis=1)
#     df.to_csv("%s\\combined_%s_%s.csv" % (folder, prodcode, roll_name))

In [ ]:
df = pd.pivot_table(data_df.reset_index(), index='date', columns = ['product', 'code'], values = list(fields), aggfunc = 'last')
df = df.reorder_levels([1, 2, 0], axis=1).sort_index(axis=1)
df.columns.rename(['field', 'product', 'code'], inplace = True)
print(df)

In [ ]:

df[df.columns[(df.columns.get_level_values(2) == 'close') & (df.columns.get_level_values(1) == 'c0')]].droplevel([1, 2],axis=1)

In [1]:
import math
math.log(2)

0.6931471805599453

In [3]:
import numpy as np
np.log(2)

0.6931471805599453

In [ ]:
prodcode = 'i'

start_date = datetime.date(2014,1,1)
end_date = datetime.date(2022,6,30)

freq = 'd'
shift_mode = 1
contract_filter = None # prod_main_cont_exch
roll_mode = 0
nb_cont = 2

roll_win = 3
roll_cutoff = '-20b'
min_thres = 5_000
cont_thres = 40_000
cont_ratio = [1.0, 0.0]

nb_df= nearby_series(prodcode, start_date=start_date, end_date=end_date, shift_mode=shift_mode,
                     nb_cont=nb_cont, cont_thres=cont_thres, roll_mode=roll_mode,freq=freq, 
                     roll_kwargs={'roll_win': roll_win, 'roll_cutoff': roll_cutoff, 'cont_ratio': cont_ratio,
                                  'contract_filter': contract_filter, 'min_thres': min_thres})
print(nb_df)

# this is for backtest metric testing

In [ ]:
start_date = datetime.date(2018, 1, 2)
end_date = datetime.date(2022,7,18)
shift_mode = 1

roll_mode = 0
roll_name = 'nroll'
nb_cont = 2

prodcode = 'rb'

roll_kwargs = {'roll_win': 3, 'roll_cutoff': '-5b', 'cont_ratio': [1.0, 0.0],
               'contract_filter': None, 'min_thres': 0}

folder = "C:\\dev\\pyktrader3\\data\\carry"
file_name = "%s\\%s_%s.csv" % (folder, prodcode, roll_name) 
roll_map = pd.read_csv(file_name).set_index('date')

nb_df = nearby_series(prodcode, start_date=start_date, end_date = end_date, shift_mode = shift_mode,
              freq='d', roll_kwargs=roll_kwargs, roll_map = roll_map)
print(nb_df)

In [ ]:
xdf = nb_df['c0']

xdf['holding'] = (xdf['price_chg'] - xdf['price_chg'].rolling(14).mean()).shift(1).fillna(0)
xdf

In [ ]:
metrics = MetricsBase(xdf['holding'].to_frame('rb'), xdf['price_chg'].to_frame('rb'))

In [ ]:
portfolio_pnl = metrics._lagged_portfolio_pnl().to_frame(name='total')
portfolio_pnl['Month'] = portfolio_pnl.index.month
portfolio_pnl.index = [i.replace(month=1) for i in portfolio_pnl.index]
seasonal_pnl = portfolio_pnl.pivot(columns = 'Month', values = 'total').fillna(0.0)
print(seasonal_pnl)

In [ ]:
#seasonal_pnl.plot(x=seasonal_pnl.index.astype(str))
seasonal_pnl.set_index(seasonal_pnl.index.astype('str')).plot(rot=30)

In [ ]:
#metrics.holdings, metrics.returns
# res = metrics.seasonal_pnl()
res_df = metrics.lead_lag()
print(res_df)

In [ ]:
ts = res_df['leadlag_sharpes'].loc['fullsample']
ax = ts.plot(kind='bar',figsize=(6, 6))
new_ticks = np.linspace(-20, 60, 17)
ax.set_xticks(np.interp(new_ticks, ts.index, np.arange(ts.size)))
ax.set_xticklabels(new_ticks)

In [ ]:
res = metrics.lagged_pnl(lags=[1,2,5,10,20])
res['cumpnl'].plot()
print(res['sharpe'])

In [ ]:
res = metrics.smoothed_pnl(smooth_hls=[1, 2, 5, 10, 20])
res['cumpnl'].plot()
print(res['sharpe'])

In [ ]:
nb_df['holding'].to_frame('al').plot()

In [ ]:
pd.to_datetime('2021-01-04').replace(day=1)

In [ ]:
calendar_aggregation(nb_df, period = 'weekly', how = 'sum')

In [ ]:
start_date = datetime.date(2014,1,1)
end_date = datetime.date(2022,6,17)

nb_df = dataseries.nearby('al', 1, start_date = start_date, end_date = end_date, roll_rule='-30b',shift_mode=1)
#nb1_df = dataseries.nearby('sc', 2, start_date = start_date, end_date = end_date, roll_rule='-20b',shift_mode=1)
#nb2_df = nearby('al', 2, start_date = start_date, end_date = end_date, roll_rule='-30b',shift_mode=2)
print(nb_df)

In [ ]:
print(load_fut_by_product('eg', 'DCE', datetime.date(2022,5,20) ,datetime.date(2022,5,20)))
#print(load_fut_by_product('sc', 'INE', datetime.date(2022,3,2) ,datetime.date(2022,3,2)))

In [ ]:
#nb_df[nb1_df['instID'] == nb_df['instID']]
#nb_df.close.plot(color='r')

#nb1_df.close.plot(color='y')
print(nb1_df.close.diff().max(), nb1_df.price_chg.max())
#nb_df[['close']].plot()
#flag = nb1_df.close.diff()>1.0
#nb1_df[flag | flag.shift(-1)]
#nb1_df.loc[datetime.date(2018,9,8):datetime.date(2018,9,20):]

In [ ]:
start_date = datetime.date(2011,1,1)
end_date = datetime.date(2022, 1, 28)
prodcode = 'ZC'
roll_rule = '-30b'
shift_mode = 1
n = 1

adj_field = 'close'
calc_fields = ['open', 'close', 'high', 'low']
contract_filter = [1, 5, 9]

exch = misc.prod2exch(prodcode)
xdf = load_fut_by_product(prodcode, exch, start_date ,end_date)
xdf['expiry'] = xdf['instID'].apply(lambda x: misc.contract_expiry(x, hols = misc.CHN_Holidays))
xdf['month'] = xdf['instID'].apply(lambda x: misc.inst2contmth(x)%100)
xdf = xdf.sort_values(['instID', 'date'])

if shift_mode == 2:
    xdf['price_chg'] = np.log(xdf[adj_field]).diff()
else:
    xdf['price_chg'] = xdf[adj_field].diff()        
xdf.loc[xdf['instID']!=xdf['instID'].shift(1), 'price_chg'] = 0
if (roll_rule[0] == '-') and (roll_rule[-1] in ['b', 'd']):
    xdf['roll_date'] = xdf['expiry'].apply(lambda x: misc.day_shift(x, roll_rule, hols = misc.CHN_Holidays))
    xdf = xdf[xdf.date <= xdf['roll_date']]
else:
    xdf['roll_date'] = xdf['expiry']
if contract_filter:
    xdf = xdf[xdf.month.isin(contract_filter)]
df = pd.pivot_table(xdf, index = 'date', columns = 'expiry', values = 'instID', aggfunc = 'first')
df1 = df.apply(lambda x: pd.Series(x.dropna().values), axis=1)
df1 = df1.reset_index()

col_df = df1[['date', n-1]].rename(columns = {n-1: 'instID'})
#if len(col_df[col_df['instID'].isna()])> 0:
#    raise ValueError('There are nan values for product=%s, nearby=%s, roll=%s' % (prodcode, str(n), roll_rule))
col_df = col_df.fillna(method = 'ffill')
out_df = pd.merge(col_df, xdf,left_on = ['date', 'instID'], right_on=['date', 'instID'], how = 'left')

if shift_mode > 0:
    cum_adj = out_df.loc[::-1, 'price_chg'].cumsum().shift(1).fillna(0)[::-1]
    if shift_mode == 2:
        adj_price = out_df[adj_field].iloc[-1]/np.exp(cum_adj)
        out_df['shift'] = np.log(adj_price) - np.log(out_df[adj_field])
    else:
        adj_price = out_df[adj_field].iloc[-1] - cum_adj
        out_df['shift'] = adj_price - out_df[adj_field]    

    for cfield in calc_fields:
        if shift_mode == 2:
            out_df[cfield] = out_df[cfield] * np.exp(out_df['shift'])
        else:
            out_df[cfield] = out_df[cfield] + out_df['shift']
else:
    out_df['shift'] = 0
out_df = out_df.set_index('date')

In [ ]:
load_fut_by_product('TA', 'CZCE', start_date ,end_date)

In [ ]:
#out_df[out_df.instID.isna()]

#out_df.loc[datetime.date(2017,11,20):datetime.date(2017,12,10),:]
#out_df.close.plot()
print(out_df.close.diff().max(),out_df.price_chg.max())

In [ ]:
price_adj = out_df.loc[::-1, 'price_chg'].cumsum().shift(1).fillna(0)[::-1]
price_close = out_df['close'].iloc[-1] - price_adj
price_shift = price_close - out_df['close']
print(price_close, price_shift)

In [ ]:
xdf = xdf.sort_values(['instID', 'date'])
xdf['chg'] = xdf['close'].diff()
flag = xdf['instID']!=xdf['instID'].shift(1)
xdf.loc[flag, 'chg'] = 0
print(xdf)

In [ ]:
adf = df.iloc[:, df.columns.get_level_values(0)=='close']
nb_df = nearby(adf, roll = 30)
print(nb_df[0])

In [ ]:
import pypfopt

In [ ]:
def nearby(prodcode, n = 1, start_date = None, end_date = None, 
           roll_rule = '-20b', shift_mode = 0, 
           adj_field = 'close', calc_fields = ['open', 'close', 'high', 'low'], 
           contract_filter = None, fill_cont = False,
          ):
    exch = misc.prod2exch(prodcode)
    xdf = load_fut_by_product(prodcode, exch, start_date ,end_date)
    xdf['expiry'] = xdf['instID'].apply(lambda x: misc.contract_expiry(x, hols = misc.CHN_Holidays))
    xdf['month'] = xdf['instID'].apply(lambda x: misc.inst2contmth(x)%100)
    xdf = xdf.sort_values(['instID', 'date'])

    if shift_mode == 2:
        xdf['price_chg'] = np.log(xdf[adj_field]).diff()
    else:
        xdf['price_chg'] = xdf[adj_field].diff()        
    xdf.loc[xdf['instID']!=xdf['instID'].shift(1), 'price_chg'] = 0
    if (roll_rule[0] == '-') and (roll_rule[-1] in ['b', 'd']):
        xdf['roll_date'] = xdf['expiry'].apply(lambda x: misc.day_shift(x, roll_rule, hols = misc.CHN_Holidays))
        xdf = xdf[xdf.date <= xdf['roll_date']]
    else:
        xdf['roll_date'] = xdf['expiry']
    if contract_filter:
        xdf = xdf[xdf.month.isin(contract_filter)]
    df = pd.pivot_table(xdf, index = 'date', columns = 'expiry', values = 'instID', aggfunc = 'first')
    df1 = df.apply(lambda x: pd.Series(x.dropna().values), axis=1)
    df1 = df1.reset_index()
    col_df = df1[['date', n-1]].rename(columns = {n-1: 'instID'})
    if len(col_df[col_df['instID'].isna()])> 0:
        if fill_cont:
            col_df = col_df.fillna(method = 'ffill')
        else:
            raise ValueError('There are nan values for product=%s, nearby=%s, roll=%s' % (prodcode, str(n), roll_rule))
    out_df = pd.merge(col_df, xdf,left_on = ['date', 'instID'], right_on=['date', 'instID'], how = 'left')
    if shift_mode > 0:
        cum_adj = out_df.loc[::-1, 'price_chg'].cumsum().shift(1).fillna(0)[::-1]
        if shift_mode == 2:
            adj_price = out_df[adj_field].iloc[-1]/np.exp(cum_adj)
            out_df['shift'] = np.log(adj_price) - np.log(out_df[adj_field])
        else:
            adj_price = out_df[adj_field].iloc[-1] - cum_adj
            out_df['shift'] = adj_price - out_df[adj_field]    

        for cfield in calc_fields:
            if shift_mode == 2:
                out_df[cfield] = out_df[cfield] * np.exp(out_df['shift'])
            else:
                out_df[cfield] = out_df[cfield] + out_df['shift']
    else:
        out_df['shift'] = 0
    out_df = out_df.set_index('date')
    return out_df

In [ ]:
import json

with open("C:/dev/wtdev/common/hots.json", 'r') as infile:
    config = json.load(infile)
print(config)

In [ ]:

pd.DataFrame.from_records(config['CFFEX']['IF'])