In [1]:
%matplotlib inline
import os
os.environ['PY3_PROD'] = '1'
%load_ext autoreload
%autoreload 2
os.system('kinit')

1

In [2]:
import numpy as np
import math
import pandas as pd
from typing import Union, List
import datetime
from pycmqlib3.utility import misc
from pycmqlib3.utility.dbaccess import *
import pycmqlib3.analytics.data_handler as dh
import pathlib
from pycmqlib3.utility.process_wt_data import *
from wtpy.wrapper import WtDataHelper
# from pycmqlib3.utility import dataseries
# from pycmqlib3.analytics.tstool import *
# from pycmqlib3.analytics.btmetrics import *

In [3]:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)

In [6]:
from misc_scripts.daily_update_job import update_data_from_xl
update_data_from_xl()

saving data for ifind_data.xlsx:const, total cols:27

C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:76: SAWarning: Can't validate argument 'replace_string'; can't locate any SQLAlchemy dialect named 'replace'
  conn.execute(table.table.insert(replace_string=""), data)

saving data for ifind_data.xlsx:daily, total cols:139
saving data for ifind_data.xlsx:weekly, total cols:139
saving data for ifind_data.xlsx:sector, total cols:38

In [6]:
base_folder = "C:/dev/wtdev/storage/his"

zip_wt_dir(base_folder, 'C:/dev/data/wt_data_230227.zip', cutoff=datetime.date(2023,2,25))

In [4]:
base_folder = "C:/dev/wtdev/storage/his"
update_folder = "C:/dev/data/his"
cutoff = datetime.date(2023,6,16)
update_wt_store(base_folder=base_folder, update_folder = update_folder, cutoff=cutoff)

day-CFFEX
day-DCE
day-CZCE
day-SHFE
day-INE
day-GFEX
min1-CFFEX
min1-DCE
min1-CZCE
min1-SHFE
min1-INE
min1-GFEX
min5-CFFEX
min5-DCE
min5-CZCE
min5-SHFE
min5-INE
min5-GFEX

In [ ]:
start_date = datetime.date(2022,12,22)
end_date = datetime.date(2022,12,23)
src_folder = "C:/dev/wtdev/storage/his"
dst_folder = "C:/dev/wtdev/storage/his"
cutoff_date = 20221223

save_bars_to_wt_store(exchange_list=['GFEX'],
                        start_date=start_date,
                        end_date=end_date,
                        cutoff_date=cutoff_date,
                        process_min=True,
                        process_day=True,
                        src_folder=src_folder,
                        dst_folder=dst_folder)

In [ ]:
start_date = datetime.date(2022,12,22)
end_date = datetime.date(2022,12,22)
dst_folder = "C:/dev/wtdev/storage/his"

save_ticks_to_wt_store(
        exchange_list=['GFEX'],
        start_date=start_date,
        end_date=end_date,
        dst_folder=dst_folder,
        exclusion_list=[])

In [5]:
period = 'day'
exch = 'SHFE'
cont = 'rb2305'
src_folder = 'c:/dev/wtdev/storage/his'
filename = '%s/%s/%s/%s.dsb' % (src_folder, period, exch, cont)
dtHelper = WtDataHelper()
curr_df = dtHelper.read_dsb_bars(filename).to_df()
curr_df

,date,bartime,open,high,low,close,settle,money,volume,hold,diff
199000000000,20220517,199000000000,4410.0,4520.0,4410.0,4484.0,4488.0,1.515598e+08,3377.0,1889.0,0.0
199000000000,20220518,199000000000,4480.0,4520.0,4398.0,4398.0,4440.0,1.693860e+08,3815.0,4590.0,2701.0
199000000000,20220519,199000000000,4400.0,4428.0,4336.0,4417.0,4368.0,1.747637e+08,4001.0,5613.0,1023.0
199000000000,20220520,199000000000,4429.0,4480.0,4401.0,4465.0,4452.0,1.272827e+08,2859.0,6638.0,1025.0
199000000000,20220523,199000000000,4463.0,4517.0,4406.0,4442.0,4463.0,9.939101e+07,2227.0,6904.0,266.0
...,...,...,...,...,...,...,...,...,...,...,...
199000000000,20230221,199000000000,4195.0,4258.0,4191.0,4254.0,4232.0,6.016384e+10,1421583.0,1971804.0,11307.0
199000000000,20230222,199000000000,4228.0,4278.0,4225.0,4237.0,4245.0,6.131108e+10,1444261.0,1974418.0,2614.0
199000000000,20230223,199000000000,4260.0,4289.0,4220.0,4228.0,4261.0,8.080156e+10,1896147.0,2005675.0,31257.0
199000000000,20230224,199000000000,4227.0,4244.0,4187.0,4224.0,4218.0,7.042838e+10,1669416.0,2057187.0,51511.0
199000000000,20230227,199000000000,4200.0,4240.0,4173.0,4191.0,4201.0,8.088495e+10,1925170.0,1975574.0,-81613.0

In [ ]:
sdate = datetime.date(2000,1,1)
edate = datetime.date(2022,9,30)

cnx = connect(**dbconfig)
cont = 'TA301'
mdf = load_min_data_to_df(cnx, 'fut_min', cont, sdate, edate, index_col = None, shift_datetime = True)

# mdf['rdate'] = mdf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
# mdf['time'] = 0
# mdf['hold'] = mdf['openInterest']
# mdf['diff'] = mdf['hold'].diff().fillna(0)
# mdf['money'] = mdf['close'] * mdf['volume']
# mdf['vol'] = mdf['volume']
col_list = ['date', 'time', 'open', 'high', 'low', 'close', 'money', 'vol', 'hold', 'diff']
# mdf = mdf[col_list]            
mdf = conv_min_data(mdf)
print(mdf[col_list])

In [14]:
sdate = datetime.date(2000,1,1)
edate = datetime.date(2022,9,30)

cnx = connect(**dbconfig)
cont = 'TA301'
mdf = load_min_data_to_df(cnx, 'fut_min', cont, sdate, edate, index_col = None, shift_datetime = True)

# mdf['rdate'] = mdf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
# mdf['time'] = 0
# mdf['hold'] = mdf['openInterest']
# mdf['diff'] = mdf['hold'].diff().fillna(0)
# mdf['money'] = mdf['close'] * mdf['volume']
# mdf['vol'] = mdf['volume']
col_list = ['date', 'time', 'open', 'high', 'low', 'close', 'money', 'vol', 'hold', 'diff']
# mdf = mdf[col_list]            
mdf = conv_min_data(mdf)
print(mdf[col_list])

           date        time    open    high     low   close     money  vol  \
0      20120120  2201201015  8780.0  8780.0  8780.0  8780.0   17560.0    2
1      20120130  2201300901  8824.0  8824.0  8824.0  8824.0   17648.0    2
2      20120131  2201311008  9016.0  9016.0  9016.0  9016.0   18032.0    2
3      20120131  2201311046  9016.0  9070.0  9016.0  9070.0   18140.0    2
4      20120131  2201311055  9070.0  9070.0  9066.0  9066.0   18132.0    2
...         ...         ...     ...     ...     ...     ...       ...  ...
38845  20130115  2301151001  8874.0  9000.0  8874.0  9000.0   36000.0    4
38846  20130115  2301151103  9000.0  9022.0  9000.0  9022.0   36088.0    4
38847  20130116  2301161500  9022.0  9022.0  8850.0  8850.0  141600.0   16
38848  20130117  2301170929  9078.0  9078.0  9078.0  9078.0  108936.0   12
38849  20130117  2301171037  9078.0  9078.0  8906.0  8906.0   35624.0    4

       hold   diff
0         2    0.0
1         2    0.0
2         2    0.0
3         4    2.0
4         6    2.0
...     ...    ...
38845  3230    0.0
38846  3230    0.0
38847  2794 -436.0
38848  2794    0.0
38849  2798    4.0

[38850 rows x 10 columns]

In [ ]:
ddf = load_daily_data_to_df(cnx, 'fut_daily', cont, datetime.date(2000,1,1), edate, index_col='date', field = 'instID', date_as_str = False)
ddf = ddf.rename(columns = {'openInterest': 'open_interest'}).reset_index()
ddf['pre_settle'] = ddf['settle'].shift(1)
ddf['pre_interest'] = ddf['open_interest'].shift(1)
ddf['pre_close'] = ddf['close'].shift(1)
ddf['date'] = ddf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
ddf = ddf.set_index('date')