In [ ]:
%matplotlib inline
import os
os.environ['PY3_PROD'] = '1'
%load_ext autoreload
%autoreload 2
os.system('kinit')

In [ ]:
import numpy as np
import math
import pandas as pd
from typing import Union, List
import datetime
from pycmqlib3.utility import misc
from pycmqlib3.utility.dbaccess import *
import pycmqlib3.analytics.data_handler as dh
import pathlib
from pycmqlib3.utility.process_wt_data import *
from wtpy.wrapper import WtDataHelper
from pycmqlib3.utility import dataseries
# from pycmqlib3.analytics.tstool import *
# from pycmqlib3.analytics.btmetrics import *

In [ ]:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)

In [ ]:
from misc_scripts.update_fut_prices import *
from misc_scripts.fun_factor_update import *

In [ ]:
# xdf = load_hist_fut_prices(["TA", "CF", "SM"], start_date=datetime.date(2010,1, 1), end_date=datetime.date(2025,1,17))
# xdf
refresh_saved_fut_prices(run_date=datetime.date(2025,6, 7), last_update=datetime.date(2025, 6, 1), use_marker=False)

In [ ]:
from misc_scripts.fun_factor_update import *
spot_df = get_fun_data(datetime.date(2021,1,1), datetime.date(2025,4,4))

In [ ]:
from misc_scripts.daily_update_job import update_data_from_xl
update_data_from_xl(lookback=18000)

In [ ]:
base_folder = "C:/dev/wtdev/storage/his"

zip_wt_dir(base_folder, 'C:/dev/data/wt_data_250415.zip', cutoff=datetime.date(2025,4,14))

In [ ]:
base_folder = "C:/dev/wtdev/storage/his"
update_folder = "C:/dev/data/his"
cutoff = datetime.date(2025, 6, 1)
update_wt_store(base_folder=base_folder, update_folder = update_folder, cutoff=cutoff)

In [ ]:
from pycmqlib3.utility import sec_bits, misc

In [ ]:
file_setup = {
    # ('ifind_data.xlsx', 'hist'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 2, 7, 8, 9],
    #                                 'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    ('ifind_data.xlsx', 'ferrous_w'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 6, 7, 8],
                                    'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    ('ifind_data.xlsx', 'base_w'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 6, 7, 8],
                                       'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    ('ifind_data.xlsx', 'const_d'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 2, 7, 8, 9],
                                   'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    # # special format from here
    # ('ifind_data.xlsx', 'base_d2'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 6, 7, 8],
    #                                 'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    # ('ifind_data.xlsx', 'macro_m'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 6, 7, 8],
    #                                 'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    # ('ifind_data.xlsx', 'warrant_d'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 6, 7, 8],
    #                                 'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    # ('ifind_daily.xlsx', 'petchem_d'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 2, 7, 8, 9],
    #                                 'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},                                        
    # ('ifind_daily.xlsx', 'macro_d'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 6, 7, 8],
    #                                 'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    # ('ifind_daily.xlsx', 'ferrous_d'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 6, 7, 8],
    #                                 'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
    # ('ifind_daily.xlsx', 'base_d'): {'header': [0, 1, 2, 3], 'skiprows': [0, 1, 6, 7, 8],
    #                                  'source': 'ifind', 'reorder': [0, 1, 2, 3], 'drop_zero': False},
}

data_folder=sec_bits.LOCAL_NUTSTORE_FOLDER
lookback=20000
sdate = pd.to_datetime("today") - pd.Timedelta(lookback, unit='D')

error_list = []
for data_file, sheet_name in file_setup:
    key = (data_file, sheet_name)
    xdf = pd.read_excel(f'{data_folder}/{data_file}',
                        sheet_name=sheet_name,
                        header=file_setup[key]['header'],
                        skiprows=file_setup[key]['skiprows'])
    xdf = xdf.reorder_levels(file_setup[key]['reorder'], axis=1)
    xdf.columns = [col if idx > 0 else 'date' for idx, col in enumerate(xdf.columns)]
    xdf = xdf.set_index('date')
    if file_setup[key]['drop_zero']:
        xdf = xdf.replace(0, np.nan)
    xdf = xdf[xdf.index >= sdate]
    print(f"saving data for {data_file}:{sheet_name}, total cols:{len(xdf.columns)}, col0={xdf.columns[0]}")

In [ ]:
# merge/fix the data

from pycmqlib3.utility.process_wt_data import *
src_folder  = "D:/data/his"
dst_folder = "C:/dev/wtdev/storage/his"
target_folder  = "D:/data/his_combined"
combine_bars_wt_store(src_folder, dst_folder, target_folder, cutoff=20240928)

In [ ]:
dtHelper = WtDataHelper()
period = 'min5'
exch='CZCE'
cont = 'FG509'
#src_folder = "C:/dev/wtdev/storage/his"
src_folder = "C:/dev/data/his"
#src_folder = "G:\storage_backup\his"
src_path = '%s/%s/%s' % (src_folder, period, exch)
file=f"{cont}.dsb"
src_df = dtHelper.read_dsb_bars(f'{src_path}/{file}')
#src_df = src_df.to_df().rename(columns={'bartime': 'time', 'volume': 'vol'})
#src_df['time'] = src_df['time']
#src_df = src_df[src_df['vol']>0]
#src_df[src_df["time"]>=202412172000].head(20)
src_df.to_df()

In [ ]:
nb_cont=1
start_date=datetime.date(2014,1,1)
end_date=datetime.date(2025,3,28)
roll_rule='-35b'
rb1_df = nearby('rb', n=nb_cont,
                 start_date=start_date,
                 end_date=end_date,
                 roll_rule=roll_rule, freq='d', shift_mode=1)
rb1_df.index = pd.to_datetime(rb1_df.index)
hc1_df = nearby('hc', n=nb_cont,
                 start_date=start_date,
                 end_date=end_date,
                 roll_rule=roll_rule, freq='d', shift_mode=1)
hc1_df.index = pd.to_datetime(hc1_df.index)
rb_hc_spd = rb1_df['close'] - hc1_df['close']

In [ ]:
rb_hc_spd.plot()

In [ ]:
from pycmqlib3.utility.process_wt_data import load_fut_by_product, load_bars_to_df, load_bars_by_code

import datetime
sdate = datetime.date(2025,1,20)
edate = datetime.date(2025,1,20)
period = 'm1'
df1 = load_bars_to_df('SHFE.rb.2510', period=period, start_time=sdate, end_time=edate)
df1

In [ ]:
from misc_scripts.fun_factor_update import *

In [ ]:
spot_df = get_fun_data(start_date=datetime.date(2000, 1, 1), run_date=datetime.date(2025, 3, 28))

In [ ]:
data_df = load_codes_from_edb(index_map.keys(), source='ifind', column_name='index_code')

In [ ]:
start_date='2000-01-01'
run_date='2025-03-31'
cdate_rng = pd.date_range(start=start_date, end=run_date, freq='D', name='date')
data_df = data_df.rename(columns=index_map)
spot_df = data_df.dropna(how='all').copy(deep=True)
spot_df = spot_df.reindex(index=cdate_rng)
sdf = adj_publish_time(spot_df)

In [ ]:
#from pycmqlib3.utility.spot_idx_map import 
spot_df['hrc_prod_all'].dropna().tail(30)

In [ ]:
col_list = [
    'rebar_inv_mill', 'wirerod_inv_mill', 'hrc_inv_mill', 'crc_inv_mill', 'plate_inv_mill',
    'rebar_inv_social', 'wirerod_inv_social', 'hrc_inv_social', 'crc_inv_social', 'plate_inv_social',
    'steel_inv_social', 'rebar_inv_all', 'rebar_prod_all', 'wirerod_prod_all', 'wirerod_inv_all',
    'hrc_prod_all', 'hrc_inv_all', 'crc_prod_all', 'crc_inv_all',
]
spot_df[col_list].dropna(how='all').interpolate(method='linear', limit=1, limit_area='inside')

In [ ]:
from misc_scripts.update_fut_prices import refresh_saved_fut_prices
refresh_saved_fut_prices(run_date=datetime.date(2025,1,18))

C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift

C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift

C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift

C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift
C:\dev\pyktrader3\misc_scripts\update_fut_prices.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  curr_mdf['shift'] = curr_mdf['shift'] - shift

{'daily_data': {'rbc1':            contract         open         high          low        close  \
  date
  2009-03-30   rb0909  2784.139786  2807.667727  2766.885962  2779.434197
  2009-03-31   rb0909  2774.728609  2796.688021  2769.238756  2783.355521
  2009-04-01   rb0909  2791.982433  2792.766698  2778.649932  2781.786991
  2009-04-02   rb0909  2780.218462  2782.571256  2710.418901  2723.751402
  2009-04-03   rb0909  2730.025519  2730.025519  2694.733607  2704.144783
  ...             ...          ...          ...          ...          ...
  2025-01-13   rb2505  3213.000000  3255.000000  3208.000000  3249.000000
  2025-01-14   rb2505  3249.000000  3293.000000  3240.000000  3283.000000
  2025-01-15   rb2505  3285.000000  3303.000000  3270.000000  3290.000000
  2025-01-16   rb2505  3290.000000  3332.000000  3284.000000  3327.000000
  2025-01-17   rb2505  3330.000000  3378.000000  3316.000000  3372.000000

                 volume  openInterest  diff_oi       settle     shift  \
  date
  2009-03-30   145168.0       48380.0   2832.0  2782.571256 -0.243009
  2009-03-31    70592.0       44714.0  -3666.0  2783.355521 -0.243009
  2009-04-01    28100.0       42076.0  -2638.0  2783.355521 -0.243009
  2009-04-02   235446.0       68888.0  26812.0  2730.025519 -0.243009
  2009-04-03   152376.0       75038.0   6150.0  2710.418901 -0.243009
  ...               ...           ...      ...          ...       ...
  2025-01-13  1647938.0     1762313.0 -77165.0  3235.000000  0.000000
  2025-01-14  1311180.0     1742948.0 -19365.0  3268.000000  0.000000
  2025-01-15  1168495.0     1717577.0 -25371.0  3287.000000  0.000000
  2025-01-16  1462774.0     1755226.0  37649.0  3308.000000  0.000000
  2025-01-17  1588746.0     1809583.0  54357.0  3346.000000  0.000000

                 expiry   contmth       d_twap       n_twap    n305    n310  \
  date
  2009-03-30 2009-09-15  200909.0          NaN          NaN     NaN     NaN
  2009-03-31 2009-09-15  200909.0          NaN          NaN     NaN     NaN
  2009-04-01 2009-09-15  200909.0          NaN          NaN     NaN     NaN
  2009-04-02 2009-09-15  200909.0          NaN          NaN     NaN     NaN
  2009-04-03 2009-09-15  200909.0          NaN          NaN     NaN     NaN
  ...               ...       ...          ...          ...     ...     ...
  2025-01-13 2025-05-15  202505.0  3244.888889  3223.375000  3212.0  3212.0
  2025-01-14 2025-05-15  202505.0  3271.711111  3244.583333  3244.0  3244.0
  2025-01-15 2025-05-15  202505.0  3289.044444  3279.375000  3277.0  3276.0
  2025-01-16 2025-05-15  202505.0  3307.377778  3302.791667  3294.0  3293.0
  2025-01-17 2025-05-15  202505.0  3348.200000  3325.958333  3325.0  3327.0

                n315    n450   a1505   a1510   a1515   a1535   p1935   p2055
  date
  2009-03-30     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  2009-03-31     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  2009-04-01     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  2009-04-02     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  2009-04-03     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  ...            ...     ...     ...     ...     ...     ...     ...     ...
  2025-01-13  3213.0  3237.5  3233.0  3236.0  3235.0  3243.5  3242.0  3249.0
  2025-01-14  3245.0  3245.0  3255.0  3257.0  3255.0  3255.0  3271.5  3284.0
  2025-01-15  3278.0  3280.5  3273.0  3272.0  3274.0  3283.0  3287.5  3290.0
  2025-01-16  3298.0  3305.5  3303.0  3302.0  3304.0  3308.5  3302.0  3326.5
  2025-01-17  3325.0  3325.0  3324.0  3324.0  3327.0  3334.5  3364.5  3372.0

  [3842 rows x 24 columns],
  'rbc2':            contract         open         high          low        close  \
  date
  2009-03-30   rb0910  3019.405540  3032.885029  2962.960179  3016.878135
  2009-03-31   rb0910  3005.083582  3031.200092  3003.398646  3014.350731
  2009-04-01   rb0910  3096.070133  3096.070133  2990.761625  3018.563071
  2009-04-02   rb0910  3018.563071  3018.563071  2919.151840  2964.645115
  2009-04-03   rb0910  2964.645115  2964.645115  2927.576521  2936.001201
  ...             ...          ...          ...          ...          ...
  2025-01-13   rb2510  3240.000000  3280.000000  3231.000000  3274.000000
  2025-01-14   rb2510  3272.000000  3315.000000  3265.000000  3306.000000
  2025-01-15   rb2510  3301.000000  3324.000000  3295.000000  3317.000000
  2025-01-16   rb2510  3316.000000  3353.000000  3311.000000  3349.000000
  2025-01-17   rb2510  3330.000000  3402.000000  3330.000000  3400.000000

               volume  openInterest  diff_oi       settle    shift     expiry  \
  date
  2009-03-30    614.0         582.0    -38.0  3014.350731 -0.17142 2009-10-15
  2009-03-31    172.0         498.0    -84.0  3011.823327 -0.17142 2009-10-15
  2009-04-01    158.0         460.0    -38.0  3017.720603 -0.17142 2009-10-15
  2009-04-02    516.0         580.0    120.0  2966.330052 -0.17142 2009-10-15
  2009-04-03   1006.0        1032.0    452.0  2941.898478 -0.17142 2009-10-15
  ...             ...           ...      ...          ...      ...        ...
  2025-01-13  37293.0      129386.0    849.0  3260.000000  0.00000 2025-10-15
  2025-01-14  33691.0      137260.0   7874.0  3291.000000  0.00000 2025-10-15
  2025-01-15  20437.0      138671.0   1411.0  3311.000000  0.00000 2025-10-15
  2025-01-16  29379.0      140774.0   2103.0  3334.000000  0.00000 2025-10-15
  2025-01-17  44832.0      148364.0   7590.0  3375.000000  0.00000 2025-10-15

               contmth       d_twap       n_twap    n305    n310    n315  \
  date
  2009-03-30  200910.0          NaN          NaN     NaN     NaN     NaN
  2009-03-31  200910.0          NaN          NaN     NaN     NaN     NaN
  2009-04-01  200910.0          NaN          NaN     NaN     NaN     NaN
  2009-04-02  200910.0          NaN          NaN     NaN     NaN     NaN
  2009-04-03  200910.0          NaN          NaN     NaN     NaN     NaN
  ...              ...          ...          ...     ...     ...     ...
  2025-01-13  202510.0  3269.600000  3247.291667  3236.0  3236.0  3237.0
  2025-01-14  202510.0  3294.955556  3269.000000  3268.0  3269.0  3271.0
  2025-01-15  202510.0  3312.777778  3303.333333  3301.0  3301.0  3301.0
  2025-01-16  202510.0  3332.955556  3328.958333  3320.0  3322.0  3325.0
  2025-01-17  202510.0  3371.422222  3348.791667  3349.0  3351.0  3350.0

                n450   a1505   a1510   a1515   a1535   p1935   p2055
  date
  2009-03-30     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  2009-03-31     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  2009-04-01     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  2009-04-02     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  2009-04-03     NaN     NaN     NaN     NaN     NaN     NaN     NaN
  ...            ...     ...     ...     ...     ...     ...     ...
  2025-01-13  3266.5  3258.0  3262.0  3259.0  3269.5  3266.0  3273.0
  2025-01-14  3268.5  3277.0  3281.0  3280.0  3279.0  3295.5  3306.5
  2025-01-15  3302.5  3298.0  3297.0  3299.0  3305.5  3312.0  3317.0
  2025-01-16  3331.0  3332.0  3330.0  3335.0  3336.0  3327.0  3348.0
  2025-01-17  3347.5  3348.0  3347.0  3349.0  3355.5  3386.5  3398.0

  [3842 rows x 24 columns],
  'hcc1':            contract         open         high          low        close  \
  date
  2014-03-24   hc1410  1388.246704  1394.949163  1368.139329  1394.949163
  2014-03-25   hc1410  1393.273548  1424.272418  1390.760126  1415.056538
  2014-03-26   hc1410  1411.705309  1416.732153  1405.002850  1414.218731
  2014-03-27   hc1410  1410.867501  1418.407767  1403.327236  1408.354080
  2014-03-28   hc1410  1414.218731  1418.407767  1407.516272  1416.732153
  ...             ...          ...          ...          ...          ...
  2025-01-13   hc2505  3316.000000  3365.000000  3313.000000  3357.000000
  2025-01-14   hc2505  3357.000000  3416.000000  3348.000000  3409.000000
  2025-01-15   hc2505  3400.000000  3428.000000  3391.000000  3417.000000
  2025-01-16   hc2505  3415.000000  3450.000000  3411.000000  3447.000000
  2025-01-17   hc2505  3447.000000  3488.000000  3436.000000  3484.000000

                volume  openInterest  diff_oi       settle     shift     expiry  \
  date
  2014-03-24   86810.0       47616.0  -4414.0  1384.057668 -0.870114 2014-10-15
  2014-03-25  119854.0       61256.0  13640.0  1406.678465 -0.870114 2014-10-15
  2014-03-26   37876.0       60560.0   -696.0  1410.867501 -0.870114 2014-10-15
  2014-03-27   40230.0       61430.0    870.0  1409.191887 -0.870114 2014-10-15
  2014-03-28   34290.0       63080.0   1650.0  1412.543116 -0.870114 2014-10-15
  ...              ...           ...      ...          ...       ...        ...
  2025-01-13  507472.0     1170370.0 -14507.0  3344.000000  0.000000 2025-05-15
  2025-01-14  510296.0     1167989.0  -2381.0  3386.000000  0.000000 2025-05-15
  2025-01-15  415364.0     1158782.0  -9207.0  3410.000000  0.000000 2025-05-15
  2025-01-16  465334.0     1157046.0  -1736.0  3432.000000  0.000000 2025-05-15
  2025-01-17  471470.0     1196880.0  39834.0  3462.000000  0.000000 2025-05-15

              contmth       d_twap       n_twap    n305    n310    n315    n450  \
  date
  2014-03-24   201410  1384.560352          NaN     NaN     NaN     NaN     NaN
  2014-03-25   201410  1407.088060          NaN     NaN     NaN     NaN     NaN
  2014-03-26   201410  1411.965960          NaN     NaN     NaN     NaN     NaN
  2014-03-27   201410  1410.029694          NaN     NaN     NaN     NaN     NaN
  2014-03-28   201410  1412.543116          NaN     NaN     NaN     NaN     NaN
  ...             ...          ...          ...     ...     ...     ...     ...
  2025-01-13   202505  3354.622222  3331.166667  3318.0  3321.0  3319.0  3347.0
  2025-01-14   202505  3388.488889  3351.416667  3351.0  3353.0  3352.0  3352.0
  2025-01-15   202505  3413.177778  3401.458333  3401.0  3400.0  3398.0  3404.0
  2025-01-16   202505  3433.200000  3430.083333  3419.0  3421.0  3426.0  3433.0
  2025-01-17   202505  3464.533333  3444.958333  3445.0  3445.0  3445.0  3440.5

                    a1505        a1510        a1515        a1535        p1935  \
  date
  2014-03-24  1375.679595  1379.868631  1381.544246  1381.544246  1384.057668
  2014-03-25  1394.949163  1397.462585  1393.273548  1398.300392  1411.286405
  2014-03-26  1412.543116  1407.516272  1409.191887  1409.610791  1409.610791
  2014-03-27  1407.516272  1406.678465  1407.516272  1405.002850  1413.380923
  2014-03-28  1410.867501  1409.191887  1409.191887  1410.867501  1414.218731
  ...                 ...          ...          ...          ...          ...
  2025-01-13  3342.000000  3348.000000  3343.000000  3352.500000  3354.000000
  2025-01-14  3364.000000  3368.000000  3364.000000  3365.000000  3390.500000
  2025-01-15  3397.000000  3395.000000  3394.000000  3402.500000  3413.500000
  2025-01-16  3432.000000  3432.000000  3433.000000  3437.500000  3426.000000
  2025-01-17  3443.000000  3444.000000  3446.000000  3454.000000  3475.000000

                    p2055
  date
  2014-03-24  1392.435741
  2014-03-25  1415.475442
  2014-03-26  1413.380923
  2014-03-27  1408.772983
  2014-03-28  1415.894345
  ...                 ...
  2025-01-13  3356.000000
  2025-01-14  3408.500000
  2025-01-15  3418.000000
  2025-01-16  3446.000000
  2025-01-17  3484.000000

  [2636 rows x 24 columns],
  'hcc2':            contract         open         high          low        close  \
  date
  2016-04-13   hc1701  1291.219785  1339.375933  1282.223582  1313.974888
  2016-04-14   hc1701  1309.741381  1317.679207  1275.344132  1281.165205
  2016-04-15   hc1701  1286.457089  1300.215989  1263.701987  1272.698190
  2016-04-18   hc1701  1267.935494  1344.667817  1263.172798  1327.733787
  2016-04-19   hc1701  1336.729991  1387.002892  1329.850541  1387.002892
  ...             ...          ...          ...          ...          ...
  2025-01-13   hc2510  3336.000000  3383.000000  3331.000000  3371.000000
  2025-01-14   hc2510  3371.000000  3424.000000  3364.000000  3418.000000
  2025-01-15   hc2510  3415.000000  3436.000000  3401.000000  3428.000000
  2025-01-16   hc2510  3421.000000  3463.000000  3421.000000  3460.000000
  2025-01-17   hc2510  3460.000000  3512.000000  3453.000000  3508.000000

               volume  openInterest  diff_oi       settle     shift     expiry  \
  date
  2016-04-13   4970.0        8082.0    244.0  1306.566250 -0.636411 2017-01-16
  2016-04-14   3564.0        8288.0    206.0  1297.040858 -0.636411 2017-01-16
  2016-04-15  17082.0       10442.0   2154.0  1277.460886 -0.636411 2017-01-16
  2016-04-18   4302.0       10690.0    248.0  1308.683004 -0.636411 2017-01-16
  2016-04-19   6844.0       11330.0    640.0  1371.127239 -0.636411 2017-01-16
  ...             ...           ...      ...          ...       ...        ...
  2025-01-13   8544.0       45565.0   2867.0  3365.000000  0.000000 2025-10-15
  2025-01-14  10484.0       48809.0   3244.0  3397.000000  0.000000 2025-10-15
  2025-01-15   7513.0       50468.0   1659.0  3421.000000  0.000000 2025-10-15
  2025-01-16   9935.0       52785.0   2317.0  3442.000000  0.000000 2025-10-15
  2025-01-17  13873.0       55170.0   2385.0  3483.000000  0.000000 2025-10-15

              contmth       d_twap       n_twap         n305         n310  \
  date
  2016-04-13   201701  1315.658669  1291.773028  1285.398712  1291.748974
  2016-04-14   201701  1296.967018  1311.555741  1310.270569  1309.741381
  2016-04-15   201701  1276.776813  1273.076182  1282.223582  1283.811147
  2016-04-18   201701  1320.108663  1274.058960  1271.639813  1270.581436
  2016-04-19   201701  1377.551341  1348.195740  1343.609441  1348.372136
  ...             ...          ...          ...          ...          ...
  2025-01-13   202510  3369.866667  3347.333333  3335.000000  3336.000000
  2025-01-14   202510  3400.044444  3367.739130  3369.000000  3369.000000
  2025-01-15   202510  3422.755556  3410.818182  3412.000000  3409.000000
  2025-01-16   202510  3444.022222  3441.166667  3432.000000  3433.000000
  2025-01-17   202510  3481.444444  3458.727273  3460.000000  3462.000000

                     n315         n450        a1505        a1510        a1515  \
  date
  2016-04-13  1293.336539  1296.247075  1309.741381  1306.037062  1307.095438
  2016-04-14  1311.328946  1313.445700  1307.095438  1310.270569  1311.328946
  2016-04-15  1282.223582  1273.227378  1277.460886  1280.106828  1281.165205
  2016-04-18  1274.285755  1275.873321  1308.153815  1306.037062  1309.741381
  2016-04-19  1353.664021  1350.753484  1360.014282  1361.072659  1357.897528
  ...                 ...          ...          ...          ...          ...
  2025-01-13  3336.000000  3363.500000  3358.000000  3364.000000  3361.000000
  2025-01-14  3369.000000  3369.000000  3378.000000  3380.000000  3379.000000
  2025-01-15  3408.000000  3412.000000  3406.000000  3404.000000  3405.000000
  2025-01-16  3437.000000  3443.500000  3445.000000  3442.000000  3445.000000
  2025-01-17  3460.000000  3456.000000  3459.000000  3458.000000  3461.000000

                    a1535        p1935        p2055
  date
  2016-04-13  1309.741381  1318.208396  1311.858134
  2016-04-14  1308.418409  1295.453293  1281.958988
  2016-04-15  1283.281959  1275.344132  1271.904407
  2016-04-18  1311.328946  1329.850541  1327.204599
  2016-04-19  1357.897528  1384.356950  1387.002892
  ...                 ...          ...          ...
  2025-01-13  3368.500000  3367.500000  3371.000000
  2025-01-14  3379.000000  3399.500000  3418.000000
  2025-01-15  3412.000000  3423.500000  3429.500000
  2025-01-16  3448.500000  3437.000000  3458.500000
  2025-01-17  3466.000000  3492.000000  3507.000000

  [2133 rows x 24 columns],
  'ic1':            contract        open        high         low       close    volume  \
  date
  2013-10-21    i1405  135.813393  135.952546  133.586944  134.839321   47716.0
  2013-10-22    i1405  134.004403  134.421862  131.917107  131.917107   45648.0
  2013-10-23    i1405  132.056260  132.612872  130.247270  130.664729   58245.0
  2013-10-24    i1405  130.525576  130.664729  127.464209  128.855740   84514.0
  2013-10-25    i1405  129.134046  130.247270  127.603362  127.742515   52030.0
  ...             ...         ...         ...         ...         ...       ...
  2025-01-13    i2505  760.000000  772.500000  757.000000  768.500000  359229.0
  2025-01-14    i2505  768.000000  786.000000  764.000000  783.000000  322767.0
  2025-01-15    i2505  783.000000  787.500000  778.000000  782.500000  214908.0
  2025-01-16    i2505  784.000000  798.000000  782.500000  797.000000  307962.0
  2025-01-17    i2505  797.500000  807.000000  793.500000  803.500000  277798.0

              openInterest  diff_oi      settle     shift     expiry   contmth  \
  date
  2013-10-21       34065.0   1544.0  134.561015 -1.972181 2014-05-16  201405.0
  2013-10-22       38002.0   3937.0  133.030332 -1.972181 2014-05-16  201405.0
  2013-10-23       40581.0   2579.0  131.360495 -1.972181 2014-05-16  201405.0
  2013-10-24       43936.0   3355.0  129.134046 -1.972181 2014-05-16  201405.0
  2013-10-25       43236.0   -700.0  128.994893 -1.972181 2014-05-16  201405.0
  ...                  ...      ...         ...       ...        ...       ...
  2025-01-13      407746.0  -5592.0  766.000000  0.000000 2025-05-19  202505.0
  2025-01-14      423549.0  15803.0  777.000000  0.000000 2025-05-19  202505.0
  2025-01-15      428578.0   5029.0  782.000000  0.000000 2025-05-19  202505.0
  2025-01-16      457983.0  29405.0  790.000000  0.000000 2025-05-19  202505.0
  2025-01-17      470876.0  12893.0  799.500000  0.000000 2025-05-19  202505.0

                  d_twap      n_twap   n305   n310   n315    n450       a1505  \
  date
  2013-10-21  134.613584         NaN    NaN    NaN    NaN     NaN  134.978475
  2013-10-22  132.934471         NaN    NaN    NaN    NaN     NaN  134.421862
  2013-10-23  131.549125         NaN    NaN    NaN    NaN     NaN  132.473719
  2013-10-24  129.149507         NaN    NaN    NaN    NaN     NaN  128.994893
  2013-10-25  129.004170         NaN    NaN    NaN    NaN     NaN  129.968964
  ...                ...         ...    ...    ...    ...     ...         ...
  2025-01-13  768.077778  764.208333  759.0  758.5  760.0  768.75  766.500000
  2025-01-14  780.077778  766.312500  766.0  767.0  766.5  767.25  774.000000
  2025-01-15  782.600000  782.354167  780.5  781.0  781.0  783.25  779.500000
  2025-01-16  789.933333  788.812500  786.5  786.0  787.5  790.25  789.000000
  2025-01-17  799.944444  796.020833  794.5  796.0  796.0  796.00  797.500000

                   a1510       a1515       a1535       p1935       p2055
  date
  2013-10-21  134.978475  134.978475  135.117628  134.769745  134.908898
  2013-10-22  133.865250  133.865250  133.586944  133.099908  132.125837
  2013-10-23  132.334566  132.195413  132.056260  131.360495  130.734306
  2013-10-24  128.994893  128.994893  128.229551  129.481928  128.855740
  2013-10-25  129.690658  129.690658  129.342775  128.994893  127.881668
  ...                ...         ...         ...         ...         ...
  2025-01-13  768.000000  767.000000  768.750000  767.250000  768.750000
  2025-01-14  774.000000  773.500000  774.000000  781.750000  783.000000
  2025-01-15  779.500000  779.500000  781.250000  780.250000  782.500000
  2025-01-16  788.500000  788.500000  791.000000  787.000000  796.750000
  2025-01-17  798.000000  798.000000  797.500000  802.250000  804.750000

  [2738 rows x 24 columns],
  'ic2':            contract        open        high         low       close   volume  \
  date
  2013-10-21    i1409  230.471351  231.443804  228.040219  228.040219   1813.0
  2013-10-22    i1409  228.040219  228.040219  223.664181  223.664181   1627.0
  2013-10-23    i1409  224.879747  225.365973  222.691728  223.421067   1549.0
  2013-10-24    i1409  223.177954  223.177954  220.017482  221.233048   2325.0

In [ ]:
import pickle
data_file="C:/dev/data/cnc_fut_m5_latest.pkl"
with open(data_file, 'rb') as handle:
    df_dict = pickle.load(handle)

In [ ]:
xdf = load_int_stock_daily(["SPY.P", "GDX.P"], dbtable='int_stock_daily', start_date=None, end_date=None)
xdf

In [ ]:
xdf = xdf.sort_index(axis=1)

In [ ]:
xdf

In [ ]:
from pycmqlib3.analytics.backtest_utils import *
spot_df = load_fun_data(datetime.date(2024,8,9))

In [ ]:
from misc_scripts import fun_factor_update

#sgx_daily_update.fetch_fef_3pm_close(cdate=datetime.date(2023,10,6))

#spot_df = fun_factor_update.get_fun_data(datetime.date(2020,1,1), datetime.date(2023,10,6))
spot_df = fun_factor_update.get_fun_data(datetime.date(2020,10,26), datetime.date(2023,11,1))
spot_df

In [ ]:
from misc_scripts.port_position_update import *

update_port_pos(tday=datetime.date(2023,11,2), email_notify=True)

In [ ]:
from pycmqlib3.utility.misc import day_shift, CHN_Holidays, prod2exch, is_workday, \
    nearby, contract_expiry, inst2contmth
fef_list = []
for nb in [2, 3, 4]:
    fef_nb = nearby('FEF', n=nb,
                    start_date=datetime.date(2016, 7, 1),
                    end_date=datetime.date(2024,5,30),
                    roll_rule='-3b', freq='d', shift_mode=2, roll_col='settle')
    fef_nb.loc[fef_nb['settle'] <= 0, 'settle'] = np.nan
    fef_nb.loc[fef_nb['close'] <= 0, 'close'] = np.nan
    fef_list.append(fef_nb['settle'].to_frame(f'FEFc{nb-1}'))
    fef_list.append(fef_nb['close'].to_frame(f'FEFc{nb-1}_close'))
    fef_list.append(fef_nb['shift'].to_frame(f'FEFc{nb-1}_shift'))
fef_data = pd.concat(fef_list, axis=1)
fef_data.index = pd.to_datetime(fef_data.index)

In [ ]:
import pickle
data_file="C:/dev/data/cnc_fut_prices_latest.pkl"
with open(data_file, 'rb') as handle:
    df_dict = pickle.load(handle)
if 'daily_data' in df_dict:
    daily_dict = df_dict['daily_data']
else:
    daily_dict = {}

if 'min_data' in df_dict:
    min_dict = df_dict['min_data']
else:
    min_dict = {}

In [ ]:
from misc_scripts import update_fut_prices
df1 = update_fut_prices.load_saved_fut(tday=datetime.date(2024,10,26), freq='m', cont='c1', data_file="C:/dev/data/cnc_fut_latest.pkl")
df2 = update_fut_prices.load_saved_fut(tday=datetime.date(2024,10,26), freq='m', cont='c2', data_file="C:/dev/data/cnc_fut_latest.pkl")

In [ ]:
from pycmqlib3.utility import dataseries
from pycmqlib3.utility.misc import day_shift, CHN_Holidays, prod2exch, is_workday, \
    nearby, contract_expiry, inst2contmth

start_date=datetime.date(2018, 1, 1)
end_date=datetime.date(2024, 9, 20)
shift_mode=2
roll_name='hot'
nb_cont=1
freq='m1'

markets = commod_mkts
fields = ['contract', 'open', 'high', 'low', 'close', 'volume', 'openInterest', 'diff_oi', 'expiry', 'mth', 'shift']
data_df = pd.DataFrame()

for prodcode in markets:
    for nb in range(nb_cont):
        xdf = dataseries.nearby(prodcode,
                                nb + 1,
                                start_date=start_date,
                                end_date=end_date,
                                shift_mode=shift_mode,
                                freq=freq,
                                roll_name=roll_name)        
        xdf['expiry'] = xdf['contract'].map(contract_expiry)
        xdf['contmth'] = xdf.apply(lambda x: inst2contmth(x['contract'], x['date']), axis=1)
        xdf['mth'] = xdf['contmth'].apply(lambda x: x // 100 * 12 + x % 100)
        xdf['product'] = prodcode
        xdf['code'] = f'c{nb + 1}'
        data_df = pd.concat([data_df, xdf])

In [ ]:
fields = ['contract', 'open', 'high', 'low', 'close', 'volume', 'openInterest', 'diff_oi', 'expiry', 'mth', 'shift']
pd.pivot_table(data_df, index='datetime', columns=['product', 'code'], values=fields, aggfunc='last')

In [ ]:
from pycmqlib3.strategy.signal_repo import *
from misc_scripts.fun_factor_update import *
from pycmqlib3.strategy.signal_repo import *
from pycmqlib3.utility.spot_idx_map import index_map, process_spot_df
from pycmqlib3.utility.dbaccess import load_codes_from_edb, load_factor_data
from pycmqlib3.utility import dataseries
from pycmqlib3.utility.misc import day_shift, CHN_Holidays, prod2exch, is_workday, \
    nearby, contract_expiry, inst2contmth
from pycmqlib3.analytics.tstool import *
from misc_scripts.factor_data_update import update_factor_db

run_date = datetime.date(2024,11,4)
start_date = day_shift(run_date, '-4y')
update_start = day_shift(run_date, '-120b', CHN_Holidays)
markets = ['cu', 'al', 'zn', 'pb', 'ni', 'ss', 'sn', 'ao', 'si',
           'rb', 'hc', 'i', 'j', 'jm', 'SM', 'SF', 'v', 'FG', 'SA']
price_df = load_hist_fut_prices(markets, start_date=start_date, end_date=run_date)
cutoff_date = day_shift(day_shift(run_date, '1b', CHN_Holidays), '-1d')
spot_df = get_fun_data(start_date, run_date)

C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)

C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)

C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)

C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)

C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\pycmqlib3\utility\dbaccess.py:679: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.io.sql.read_sql(stmt, cnx)
C:\dev\pyktrader3\misc_scripts\fun_factor_update.py:400: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  spot_df['FEF_c1_c2_ratio'] = (spot_df['FEFc1']/np.exp(spot_df['FEFc1_shift'])) / \
C:\dev\pyktrader3\misc_scripts\fun_factor_update.py:402: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  spot_df['FEF_c123fly_ratio'] = spot_df['FEFc1'] * spot_df['FEFc3'] / \
C:\dev\pyktrader3\misc_scripts\fun_factor_update.py:405: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  spot_df['FEF_ryield'] = (np.log(spot_df['FEFc1'] / np.exp(spot_df['FEFc1_shift'])) -
C:\dev\pyktrader3\misc_scripts\fun_factor_update.py:407: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  spot_df['FEF_basmom'] = np.log(1 + spot_df['FEFc1'].dropna().pct_change()) - \
C:\dev\pyktrader3\misc_scripts\fun_factor_update.py:409: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  spot_df['FEF_basmom10'] = spot_df['FEF_basmom'].dropna().rolling(10).sum()
C:\dev\pyktrader3\misc_scripts\fun_factor_update.py:410: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  spot_df['FEF_basmom5'] = spot_df['FEF_basmom'].dropna().rolling(5).sum()

In [ ]:
start_date = datetime.date(2022,12,22)
end_date = datetime.date(2022,12,23)
src_folder = "C:/dev/wtdev/storage/his"
dst_folder = "C:/dev/wtdev/storage/his"
cutoff_date = 20221223

save_bars_to_wt_store(exchange_list=['GFEX'],
                        start_date=start_date,
                        end_date=end_date,
                        cutoff_date=cutoff_date,
                        process_min=True,
                        process_day=True,
                        src_folder=src_folder,
                        dst_folder=dst_folder)

In [ ]:
start_date = datetime.date(2022,12,22)
end_date = datetime.date(2022,12,22)
dst_folder = "C:/dev/wtdev/storage/his"

save_ticks_to_wt_store(
        exchange_list=['GFEX'],
        start_date=start_date,
        end_date=end_date,
        dst_folder=dst_folder,
        exclusion_list=[])

In [ ]:
from pycmqlib3.utility.dataseries import *
nearby('lu', n=2, start_date=datetime.date(2022,1,1), end_date=datetime.date(2023,10,9), 
       freq='d', shift_mode=0, roll_name='hot', config_loc="C:/dev/wtdev/config/")

In [ ]:
period = 'day'
exch = 'DCE'
cont = 'i2505'
src_folder = 'c:/dev/wtdev/storage/his'
filename = '%s/%s/%s/%s.dsb' % (src_folder, period, exch, cont)
dtHelper = WtDataHelper()
curr_df = dtHelper.read_dsb_bars(filename).to_df()
curr_df

In [ ]:
period = 'day'
exch = 'SHFE'
cont = 'hc2501'
src_folder = 'c:/dev/wtdev/storage/his'
datestr = '20241205'
filename = '%s/ticks/%s/%s/%s.dsb' % (src_folder, exch, datestr, cont)
dtHelper = WtDataHelper()
curr_df = dtHelper.read_dsb_ticks(filename).to_df()
curr_df.tail(20)

In [ ]:
sdate = datetime.date(2000,1,1)
edate = datetime.date(2022,9,30)

cnx = connect(**dbconfig)
cont = 'TA301'
mdf = load_min_data_to_df(cnx, 'fut_min', cont, sdate, edate, index_col = None, shift_datetime = True)

# mdf['rdate'] = mdf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
# mdf['time'] = 0
# mdf['hold'] = mdf['openInterest']
# mdf['diff'] = mdf['hold'].diff().fillna(0)
# mdf['money'] = mdf['close'] * mdf['volume']
# mdf['vol'] = mdf['volume']
col_list = ['date', 'time', 'open', 'high', 'low', 'close', 'money', 'vol', 'hold', 'diff']
# mdf = mdf[col_list]            
mdf = conv_min_data(mdf)
print(mdf[col_list])

In [ ]:
sdate = datetime.date(2000,1,1)
edate = datetime.date(2022,9,30)

cnx = connect(**dbconfig)
cont = 'TA301'
mdf = load_min_data_to_df(cnx, 'fut_min', cont, sdate, edate, index_col = None, shift_datetime = True)

# mdf['rdate'] = mdf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
# mdf['time'] = 0
# mdf['hold'] = mdf['openInterest']
# mdf['diff'] = mdf['hold'].diff().fillna(0)
# mdf['money'] = mdf['close'] * mdf['volume']
# mdf['vol'] = mdf['volume']
col_list = ['date', 'time', 'open', 'high', 'low', 'close', 'money', 'vol', 'hold', 'diff']
# mdf = mdf[col_list]            
mdf = conv_min_data(mdf)
print(mdf[col_list])

In [ ]:
ddf = load_daily_data_to_df(cnx, 'fut_daily', cont, datetime.date(2000,1,1), edate, index_col='date', field = 'instID', date_as_str = False)
ddf = ddf.rename(columns = {'openInterest': 'open_interest'}).reset_index()
ddf['pre_settle'] = ddf['settle'].shift(1)
ddf['pre_interest'] = ddf['open_interest'].shift(1)
ddf['pre_close'] = ddf['close'].shift(1)
ddf['date'] = ddf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
ddf = ddf.set_index('date')