In [1]:
%matplotlib inline
import os
os.environ['PY3_PROD'] = '1'
%load_ext autoreload
%autoreload 2

os.system('kinit')

1

In [2]:
import numpy as np
import math
import pandas as pd
from typing import Union, List
import datetime
from pycmqlib3.utility import misc
from pycmqlib3.utility.dbaccess import *
import pycmqlib3.analytics.data_handler as dh
import pathlib
from pycmqlib3.utility.process_wt_data import *
from wtpy.wrapper import WtDataHelper
# from pycmqlib3.utility import dataseries
# from pycmqlib3.analytics.tstool import *
# from pycmqlib3.analytics.btmetrics import *

In [3]:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 150)

In [4]:
from misc_scripts.daily_update_job import update_data_from_xl
update_data_from_xl(lookback=20000)

saving data for ifind_data.xlsx:const, total cols:27
saving data for ifind_data.xlsx:daily, total cols:169
saving data for ifind_data.xlsx:weekly, total cols:139
saving data for ifind_data.xlsx:sector, total cols:38
saving data for ifind_data.xlsx:base_daily, total cols:149
saving data for ifind_data.xlsx:base_wkly, total cols:48

In [9]:
base_folder = "C:/dev/wtdev/storage/his"

zip_wt_dir(base_folder, 'C:/dev/data/wt_data_230626.zip', cutoff=datetime.date(2023,6,20))

In [8]:
base_folder = "C:/dev/wtdev/storage/his"
update_folder = "C:/dev/data/his"
cutoff = datetime.date(2023,7,22)
update_wt_store(base_folder=base_folder, update_folder = update_folder, cutoff=cutoff)

day-CFFEX
day-DCE
day-CZCE
day-SHFE
day-INE
day-GFEX
min1-CFFEX
min1-DCE
min1-CZCE
min1-SHFE
min1-INE
min1-GFEX
min5-CFFEX
min5-DCE
min5-CZCE
min5-SHFE
min5-INE
min5-GFEX

In [7]:
from misc_scripts.fun_factor_update import *
tday = datetime.date(2023, 7, 28)
update_fun_factor(run_date=tday)

        index         0
0  2023-04-28  0.696535
1  2023-05-04 -0.925318
2  2023-05-05 -0.103820
3  2023-05-08  0.983475
4  2023-05-09  0.903388
5  2023-05-10  0.994595
6  2023-05-11  0.770550
7  2023-05-12  0.419891
8  2023-05-15  0.701273
9  2023-05-16  0.775955
10 2023-05-17  0.850637
11 2023-05-18  0.247778
12 2023-05-19  0.701273
13 2023-05-22  0.124873
14 2023-05-23  0.402547
15 2023-05-24 -0.090935
16 2023-05-25 -0.246304
17 2023-05-26 -0.456392
18 2023-05-29 -0.278023
19 2023-05-30 -0.543659
20 2023-05-31 -0.845395
21 2023-06-01 -0.336042
22 2023-06-02 -0.004972
23 2023-06-05  0.861163
24 2023-06-06  0.274236
25 2023-06-07 -0.731643
26 2023-06-08 -0.954064
27 2023-06-09 -0.182363
28 2023-06-12 -0.741360
29 2023-06-13  0.197821
30 2023-06-14  0.345182
31 2023-06-15 -0.056931
32 2023-06-16  0.569035
33 2023-06-19  0.146815
34 2023-06-20 -0.196892
35 2023-06-21 -0.075236
36 2023-06-26 -0.988880
37 2023-06-27 -0.546505
38 2023-06-28 -0.845231
39 2023-06-29 -1.000000
40 2023-06-30 -0.701273
41 2023-07-03 -0.119037
42 2023-07-04  0.376179
43 2023-07-05 -0.376661
44 2023-07-06 -0.000280
45 2023-07-07 -0.775955
46 2023-07-10 -1.000000
47 2023-07-11 -1.000000
48 2023-07-12 -0.925318
49 2023-07-13 -0.775955
50 2023-07-14 -0.431293
51 2023-07-17 -1.000000
52 2023-07-18 -1.000000
53 2023-07-19 -0.850637
54 2023-07-20 -0.775955
55 2023-07-21  0.076072
56 2023-07-24  0.272983
57 2023-07-25  1.000000
58 2023-07-26  1.000000
59 2023-07-27  1.000000
60 2023-07-28  0.925318
        index         0
0  2023-04-28 -0.881503
1  2023-05-04 -0.851878
2  2023-05-05 -0.851878
3  2023-05-08 -0.585259
4  2023-05-09 -0.466761
5  2023-05-10 -0.496386
6  2023-05-11 -0.792629
7  2023-05-12 -0.733381
8  2023-05-15 -0.407513
9  2023-05-16 -0.318640
10 2023-05-17 -0.140893
11 2023-05-18 -0.111269
12 2023-05-19 -0.170518
13 2023-05-22 -0.170518
14 2023-05-23 -0.022396
15 2023-05-24 -0.081645
16 2023-05-25  0.214599
17 2023-05-26  0.443099
18 2023-05-29  0.467317
19 2023-05-30  0.569750
20 2023-05-31  0.494417
21 2023-06-01  0.749944
22 2023-06-02  1.000000
23 2023-06-05  0.574563
24 2023-06-06  0.685600
25 2023-06-07  0.560033
26 2023-06-08  0.690851
27 2023-06-09  0.869876
28 2023-06-12  0.701894
29 2023-06-13  0.954059
30 2023-06-14  0.970376
31 2023-06-15  0.897709
32 2023-06-16  1.000000
33 2023-06-19  0.873499
34 2023-06-20  0.811653
35 2023-06-21  0.684249
36 2023-06-26  0.649155
37 2023-06-27  0.970376
38 2023-06-28  0.881503
39 2023-06-29  0.881503
40 2023-06-30  0.881503
41 2023-07-03  0.733381
42 2023-07-04  0.851878
43 2023-07-05  0.674132
44 2023-07-06  0.763005
45 2023-07-07  0.343069
46 2023-07-10  0.316042
47 2023-07-11  0.348264
48 2023-07-12  0.377888
49 2023-07-13  0.555634
50 2023-07-14  0.703756
51 2023-07-17  0.318640
52 2023-07-18  0.644508
53 2023-07-19  0.674132
54 2023-07-20  1.000000
55 2023-07-21  1.000000
56 2023-07-24  1.000000
57 2023-07-25  1.000000
58 2023-07-26  1.000000
59 2023-07-27  1.000000
60 2023-07-28  1.000000
        index         0
0  2023-04-28  1.000000
1  2023-05-04  1.000000
2  2023-05-05 -0.614673
3  2023-05-08 -0.577442
4  2023-05-09 -0.540212
5  2023-05-10 -0.500346
6  2023-05-11 -0.460481
7  2023-05-12 -1.000000
8  2023-05-15 -0.925318
9  2023-05-16 -0.850637
10 2023-05-17 -0.775955
11 2023-05-18 -0.701273
12 2023-05-19 -1.000000
13 2023-05-22 -0.925318
14 2023-05-23 -0.850637
15 2023-05-24 -0.775955
16 2023-05-25 -0.701273
17 2023-05-26 -0.626592
18 2023-05-29 -0.551910
19 2023-05-30 -0.477228
20 2023-05-31 -0.402547
21 2023-06-01 -0.327865
22 2023-06-02 -0.626592
23 2023-06-05 -0.551910
24 2023-06-06 -0.477228
25 2023-06-07 -0.402547
26 2023-06-08 -0.327865
27 2023-06-09  0.483107
28 2023-06-12  0.547262
29 2023-06-13  0.601893
30 2023-06-14  0.656525
31 2023-06-15  0.702461
32 2023-06-16  0.109698
33 2023-06-19  0.173854
34 2023-06-20  0.228485
35 2023-06-21  0.854797
36 2023-06-26  0.885325
37 2023-06-27  0.908957
38 2023-06-28  0.932589
39 2023-06-29  0.949770
40 2023-06-30  1.000000
41 2023-07-03  1.000000
42 2023-07-04  1.000000
43 2023-07-05  1.000000
44 2023-07-06  1.000000
45 2023-07-07  1.000000
46 2023-07-10  1.000000
47 2023-07-11  1.000000
48 2023-07-12  1.000000
49 2023-07-13  1.000000
50 2023-07-14  1.000000
51 2023-07-17  1.000000
52 2023-07-18  1.000000
53 2023-07-19  1.000000
54 2023-07-20  1.000000
55 2023-07-21  0.253184
56 2023-07-24  0.253184
57 2023-07-25  0.253184
58 2023-07-26  0.253184
59 2023-07-27  0.253184
60 2023-07-28 -0.120225
        index         0
0  2023-04-28 -1.000000
1  2023-05-04 -1.000000
2  2023-05-05 -1.000000
3  2023-05-08 -1.000000
4  2023-05-09 -1.000000
5  2023-05-10 -1.000000
6  2023-05-11 -1.000000
7  2023-05-12 -1.000000
8  2023-05-15 -1.000000
9  2023-05-16 -1.000000
10 2023-05-17 -1.000000
11 2023-05-18 -1.000000
12 2023-05-19 -0.760516
13 2023-05-22 -0.760516
14 2023-05-23 -0.760516
15 2023-05-24 -0.760516
16 2023-05-25 -0.760516
17 2023-05-26 -0.760516
18 2023-05-29 -0.760516
19 2023-05-30 -0.760516
20 2023-05-31 -0.760516
21 2023-06-01 -0.760516
22 2023-06-02 -0.281548
23 2023-06-05 -0.281548
24 2023-06-06 -0.281548
25 2023-06-07 -0.281548
26 2023-06-08 -0.281548
27 2023-06-09  0.197421
28 2023-06-12  0.197421
29 2023-06-13  0.197421
30 2023-06-14  0.197421
31 2023-06-15  0.197421
32 2023-06-16  0.436905
33 2023-06-19  0.436905
34 2023-06-20  0.436905
35 2023-06-21  0.436905
36 2023-06-26  0.436905
37 2023-06-27  0.436905
38 2023-06-28  0.436905
39 2023-06-29  0.436905
40 2023-06-30  0.710516
41 2023-07-03  0.710516
42 2023-07-04  0.710516
43 2023-07-05  0.710516
44 2023-07-06  0.710516
45 2023-07-07  1.000000
46 2023-07-10  1.000000
47 2023-07-11  1.000000
48 2023-07-12  1.000000
49 2023-07-13  1.000000
50 2023-07-14  1.000000
51 2023-07-17  1.000000
52 2023-07-18  1.000000
53 2023-07-19  1.000000
54 2023-07-20  1.000000
55 2023-07-21  0.760516
56 2023-07-24  0.760516
57 2023-07-25  0.760516
58 2023-07-26  0.760516
59 2023-07-27  0.760516
60 2023-07-28  0.521032
        index    0
0  2023-04-28  1.0
1  2023-05-04  1.0
2  2023-05-05 -1.0
3  2023-05-08 -1.0
4  2023-05-09 -1.0
5  2023-05-10 -1.0
6  2023-05-11 -1.0
7  2023-05-12 -1.0
8  2023-05-15 -1.0
9  2023-05-16 -1.0
10 2023-05-17 -1.0
11 2023-05-18 -1.0
12 2023-05-19 -1.0
13 2023-05-22 -1.0
14 2023-05-23 -1.0
15 2023-05-24 -1.0
16 2023-05-25 -1.0
17 2023-05-26  1.0
18 2023-05-29  1.0
19 2023-05-30  1.0
20 2023-05-31  1.0
21 2023-06-01  1.0
22 2023-06-02 -0.5
23 2023-06-05 -0.5
24 2023-06-06 -0.5
25 2023-06-07 -0.5
26 2023-06-08 -0.5
27 2023-06-09 -1.0
28 2023-06-12 -1.0
29 2023-06-13 -1.0
30 2023-06-14 -1.0
31 2023-06-15 -1.0
32 2023-06-16  1.0
33 2023-06-19  1.0
34 2023-06-20  1.0
35 2023-06-21  1.0
36 2023-06-26  1.0
37 2023-06-27  1.0
38 2023-06-28  1.0
39 2023-06-29  1.0
40 2023-06-30 -0.5
41 2023-07-03 -0.5
42 2023-07-04 -0.5
43 2023-07-05 -0.5
44 2023-07-06 -0.5
45 2023-07-07  0.5
46 2023-07-10  0.5
47 2023-07-11  0.5
48 2023-07-12  0.5
49 2023-07-13  0.5
50 2023-07-14  1.0
51 2023-07-17  1.0
52 2023-07-18  1.0
53 2023-07-19  1.0
54 2023-07-20  1.0
55 2023-07-21 -1.0
56 2023-07-24 -1.0
57 2023-07-25 -1.0
58 2023-07-26 -1.0
59 2023-07-27 -1.0
60 2023-07-28  0.5
        index         0
0  2023-04-28  1.000000
1  2023-05-04  1.000000
2  2023-05-05 -1.000000
3  2023-05-08 -0.925318
4  2023-05-09 -0.850637
5  2023-05-10 -0.775955
6  2023-05-11 -0.701273
7  2023-05-12 -0.626592
8  2023-05-15 -0.551910
9  2023-05-16 -0.477228
10 2023-05-17 -0.402547
11 2023-05-18 -0.327865
12 2023-05-19 -0.253184
13 2023-05-22 -0.178502
14 2023-05-23 -0.103820
15 2023-05-24 -0.029139
16 2023-05-25  0.045543
17 2023-05-26  0.120225
18 2023-05-29  0.194906
19 2023-05-30  0.269588
20 2023-05-31  0.344270
21 2023-06-01  0.418951
22 2023-06-02  0.483107
23 2023-06-05  0.547262
24 2023-06-06  0.601893
25 2023-06-07  0.656525
26 2023-06-08  0.702461
27 2023-06-09 -1.000000
28 2023-06-12 -0.925318
29 2023-06-13 -0.850637
30 2023-06-14 -0.775955
31 2023-06-15 -0.701273
32 2023-06-16  0.908957
33 2023-06-19  0.932589
34 2023-06-20  0.949770
35 2023-06-21  0.966950
36 2023-06-26  0.978069
37 2023-06-27  0.989189
38 2023-06-28  0.994595
39 2023-06-29  1.000000
40 2023-06-30  1.000000
41 2023-07-03  1.000000
42 2023-07-04  1.000000
43 2023-07-05  1.000000
44 2023-07-06  1.000000
45 2023-07-07  0.327865
46 2023-07-10  0.327865
47 2023-07-11  0.327865
48 2023-07-12  0.327865
49 2023-07-13  0.327865
50 2023-07-14  0.327865
51 2023-07-17  0.327865
52 2023-07-18  0.327865
53 2023-07-19  0.327865
54 2023-07-20  0.327865
55 2023-07-21  0.327865
56 2023-07-24  0.338391
57 2023-07-25  0.348918
58 2023-07-26  0.368968
59 2023-07-27  0.389018
60 2023-07-28 -0.887847
        index    0
0  2023-04-28  1.0
1  2023-05-04  1.0
2  2023-05-05 -1.0
3  2023-05-08 -1.0
4  2023-05-09 -1.0
5  2023-05-10 -1.0
6  2023-05-11 -1.0
7  2023-05-12 -1.0
8  2023-05-15 -1.0
9  2023-05-16 -1.0
10 2023-05-17 -1.0
11 2023-05-18 -1.0
12 2023-05-19  0.5
13 2023-05-22  0.5
14 2023-05-23  0.5
15 2023-05-24  0.5
16 2023-05-25  0.5
17 2023-05-26  1.0
18 2023-05-29  1.0
19 2023-05-30  1.0
20 2023-05-31  1.0
21 2023-06-01  1.0
22 2023-06-02 -0.5
23 2023-06-05 -0.5
24 2023-06-06 -0.5
25 2023-06-07 -0.5
26 2023-06-08 -0.5
27 2023-06-09 -1.0
28 2023-06-12 -1.0
29 2023-06-13 -1.0
30 2023-06-14 -1.0
31 2023-06-15 -1.0
32 2023-06-16  1.0
33 2023-06-19  1.0
34 2023-06-20  1.0
35 2023-06-21  1.0
36 2023-06-26  1.0
37 2023-06-27  1.0
38 2023-06-28  1.0
39 2023-06-29  1.0
40 2023-06-30 -0.5
41 2023-07-03 -0.5
42 2023-07-04 -0.5
43 2023-07-05 -0.5
44 2023-07-06 -0.5
45 2023-07-07 -1.0
46 2023-07-10 -1.0
47 2023-07-11 -1.0
48 2023-07-12 -1.0
49 2023-07-13 -1.0
50 2023-07-14  0.5
51 2023-07-17  0.5
52 2023-07-18  0.5
53 2023-07-19  0.5
54 2023-07-20  0.5
55 2023-07-21  1.0
56 2023-07-24  1.0
57 2023-07-25  1.0
58 2023-07-26  1.0
59 2023-07-27  1.0
60 2023-07-28 -1.0

In [ ]:
start_date = datetime.date(2022,12,22)
end_date = datetime.date(2022,12,23)
src_folder = "C:/dev/wtdev/storage/his"
dst_folder = "C:/dev/wtdev/storage/his"
cutoff_date = 20221223

save_bars_to_wt_store(exchange_list=['GFEX'],
                        start_date=start_date,
                        end_date=end_date,
                        cutoff_date=cutoff_date,
                        process_min=True,
                        process_day=True,
                        src_folder=src_folder,
                        dst_folder=dst_folder)

In [ ]:
start_date = datetime.date(2022,12,22)
end_date = datetime.date(2022,12,22)
dst_folder = "C:/dev/wtdev/storage/his"

save_ticks_to_wt_store(
        exchange_list=['GFEX'],
        start_date=start_date,
        end_date=end_date,
        dst_folder=dst_folder,
        exclusion_list=[])

In [7]:
period = 'day'
exch = 'DCE'
cont = 'i2309'
src_folder = 'c:/dev/wtdev/storage/his'
filename = '%s/%s/%s/%s.dsb' % (src_folder, period, exch, cont)
dtHelper = WtDataHelper()
curr_df = dtHelper.read_dsb_bars(filename).to_df()
curr_df.tail(10)

,date,bartime,open,high,low,close,settle,money,volume,hold,diff
199000000000,20230609,199000000000,793.5,812.5,791.5,812.0,800.0,8.100004e+10,1012242.0,926918.0,14605.0
199000000000,20230612,199000000000,810.0,811.0,782.0,785.5,796.0,8.156051e+10,1024567.0,865473.0,-61445.0
199000000000,20230613,199000000000,784.5,803.0,781.0,801.5,792.5,7.826362e+10,987231.0,849235.0,-16238.0
199000000000,20230614,199000000000,804.5,811.0,797.5,804.5,804.0,6.460089e+10,803202.0,856715.0,7480.0
199000000000,20230615,199000000000,809.5,820.5,804.5,815.5,814.0,6.655331e+10,817467.0,852864.0,-3851.0
199000000000,20230616,199000000000,814.5,818.5,802.0,815.0,810.5,6.736205e+10,830930.0,840351.0,-12513.0
199000000000,20230619,199000000000,815.0,825.0,805.0,809.5,814.0,7.341365e+10,901580.0,828825.0,-11526.0
199000000000,20230620,199000000000,810.0,812.5,799.0,806.5,805.5,5.483830e+10,680595.0,825941.0,-2884.0
199000000000,20230621,199000000000,803.5,810.5,791.5,797.5,800.5,7.189717e+10,898145.0,804577.0,-21364.0
199000000000,20230626,199000000000,785.0,799.5,784.0,797.0,791.5,4.143554e+10,523391.0,833933.0,29356.0

In [ ]:
sdate = datetime.date(2000,1,1)
edate = datetime.date(2022,9,30)

cnx = connect(**dbconfig)
cont = 'TA301'
mdf = load_min_data_to_df(cnx, 'fut_min', cont, sdate, edate, index_col = None, shift_datetime = True)

# mdf['rdate'] = mdf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
# mdf['time'] = 0
# mdf['hold'] = mdf['openInterest']
# mdf['diff'] = mdf['hold'].diff().fillna(0)
# mdf['money'] = mdf['close'] * mdf['volume']
# mdf['vol'] = mdf['volume']
col_list = ['date', 'time', 'open', 'high', 'low', 'close', 'money', 'vol', 'hold', 'diff']
# mdf = mdf[col_list]            
mdf = conv_min_data(mdf)
print(mdf[col_list])

In [14]:
sdate = datetime.date(2000,1,1)
edate = datetime.date(2022,9,30)

cnx = connect(**dbconfig)
cont = 'TA301'
mdf = load_min_data_to_df(cnx, 'fut_min', cont, sdate, edate, index_col = None, shift_datetime = True)

# mdf['rdate'] = mdf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
# mdf['time'] = 0
# mdf['hold'] = mdf['openInterest']
# mdf['diff'] = mdf['hold'].diff().fillna(0)
# mdf['money'] = mdf['close'] * mdf['volume']
# mdf['vol'] = mdf['volume']
col_list = ['date', 'time', 'open', 'high', 'low', 'close', 'money', 'vol', 'hold', 'diff']
# mdf = mdf[col_list]            
mdf = conv_min_data(mdf)
print(mdf[col_list])

           date        time    open    high     low   close     money  vol  \
0      20120120  2201201015  8780.0  8780.0  8780.0  8780.0   17560.0    2
1      20120130  2201300901  8824.0  8824.0  8824.0  8824.0   17648.0    2
2      20120131  2201311008  9016.0  9016.0  9016.0  9016.0   18032.0    2
3      20120131  2201311046  9016.0  9070.0  9016.0  9070.0   18140.0    2
4      20120131  2201311055  9070.0  9070.0  9066.0  9066.0   18132.0    2
...         ...         ...     ...     ...     ...     ...       ...  ...
38845  20130115  2301151001  8874.0  9000.0  8874.0  9000.0   36000.0    4
38846  20130115  2301151103  9000.0  9022.0  9000.0  9022.0   36088.0    4
38847  20130116  2301161500  9022.0  9022.0  8850.0  8850.0  141600.0   16
38848  20130117  2301170929  9078.0  9078.0  9078.0  9078.0  108936.0   12
38849  20130117  2301171037  9078.0  9078.0  8906.0  8906.0   35624.0    4

       hold   diff
0         2    0.0
1         2    0.0
2         2    0.0
3         4    2.0
4         6    2.0
...     ...    ...
38845  3230    0.0
38846  3230    0.0
38847  2794 -436.0
38848  2794    0.0
38849  2798    4.0

[38850 rows x 10 columns]

In [ ]:
ddf = load_daily_data_to_df(cnx, 'fut_daily', cont, datetime.date(2000,1,1), edate, index_col='date', field = 'instID', date_as_str = False)
ddf = ddf.rename(columns = {'openInterest': 'open_interest'}).reset_index()
ddf['pre_settle'] = ddf['settle'].shift(1)
ddf['pre_interest'] = ddf['open_interest'].shift(1)
ddf['pre_close'] = ddf['close'].shift(1)
ddf['date'] = ddf['date'].astype('datetime64').dt.strftime('%Y%m%d').astype('int64')
ddf = ddf.set_index('date')