In [1]:
from pycmqlib3.utility.dbaccess import *
import datetime
from pycmqlib3.utility import misc
from pycmqlib3.utility import dataseries

In [13]:
start_date = datetime.date(2015,9,1)
end_date = datetime.date(2022,1,28)

nb_df = dataseries.nearby('jd', 1, start_date = start_date, end_date = end_date, roll_rule='-20b',shift_mode=1)
nb1_df = dataseries.nearby('jd', 2, start_date = start_date, end_date = end_date, roll_rule='-20b',shift_mode=1)
#nb2_df = nearby('al', 2, start_date = start_date, end_date = end_date, roll_rule='-30b',shift_mode=2)
print(nb_df,nb1_df)

           contract    open    high     low   close  volume  openInterest  \
date
2015-09-01   jd1601  6683.0  6711.0  6671.0  6690.0   43863         55611
2015-09-02   jd1601  6682.0  6689.0  6641.0  6672.0   57541         56451
2015-09-07   jd1601  6700.0  6723.0  6670.0  6685.0   55274         60616
2015-09-08   jd1601  6685.0  6729.0  6685.0  6722.0   57990         62285
2015-09-09   jd1601  6746.0  6759.0  6676.0  6684.0   94287         69311
...             ...     ...     ...     ...     ...     ...           ...
2022-01-24   jd2205  4055.0  4146.0  4033.0  4133.0  164654        123639
2022-01-25   jd2205  4120.0  4170.0  4112.0  4117.0  111310        117045
2022-01-26   jd2205  4111.0  4154.0  4110.0  4138.0   68797        113415
2022-01-27   jd2205  4168.0  4207.0  4150.0  4186.0  105824        110363
2022-01-28   jd2205  4199.0  4222.0  4174.0  4185.0   79402         99956

                expiry  month  price_chg   roll_date   shift
date
2015-09-01  2016-01-26      1        0.0  2015-12-28  2761.0
2015-09-02  2016-01-26      1      -18.0  2015-12-28  2761.0
2015-09-07  2016-01-26      1       13.0  2015-12-28  2761.0
2015-09-08  2016-01-26      1       37.0  2015-12-28  2761.0
2015-09-09  2016-01-26      1      -38.0  2015-12-28  2761.0
...                ...    ...        ...         ...     ...
2022-01-24  2022-05-26      5       79.0  2022-04-25     0.0
2022-01-25  2022-05-26      5      -16.0  2022-04-25     0.0
2022-01-26  2022-05-26      5       21.0  2022-04-25     0.0
2022-01-27  2022-05-26      5       48.0  2022-04-25     0.0
2022-01-28  2022-05-26      5       -1.0  2022-04-25     0.0

[1561 rows x 12 columns]            contract    open    high     low   close  volume  openInterest  \
date
2015-09-01   jd1605  3605.0  3620.0  3598.0  3613.0     915          5685
2015-09-02   jd1605  3607.0  3615.0  3581.0  3612.0    1327          5998
2015-09-07   jd1605  3637.0  3642.0  3607.0  3615.0    1384          6373
2015-09-08   jd1605  3616.0  3628.0  3610.0  3622.0    1531          6507
2015-09-09   jd1605  3642.0  3652.0  3608.0  3610.0    2513          6899
...             ...     ...     ...     ...     ...     ...           ...
2022-01-24   jd2209  4565.0  4615.0  4557.0  4611.0    7401         28786
2022-01-25   jd2209  4625.0  4625.0  4596.0  4596.0    5612         28713
2022-01-26   jd2209  4602.0  4616.0  4600.0  4611.0    2940         29417
2022-01-27   jd2209  4610.0  4660.0  4610.0  4646.0    7656         31783
2022-01-28   jd2209  4640.0  4677.0  4640.0  4657.0    5340         31657

                expiry  month  price_chg   roll_date  shift
date
2015-09-01  2016-05-26      5        0.0  2016-04-27 -178.0
2015-09-02  2016-05-26      5       -1.0  2016-04-27 -178.0
2015-09-07  2016-05-26      5        3.0  2016-04-27 -178.0
2015-09-08  2016-05-26      5        7.0  2016-04-27 -178.0
2015-09-09  2016-05-26      5      -12.0  2016-04-27 -178.0
...                ...    ...        ...         ...    ...
2022-01-24  2022-09-27      9       42.0  2022-08-26    0.0
2022-01-25  2022-09-27      9      -15.0  2022-08-26    0.0
2022-01-26  2022-09-27      9       15.0  2022-08-26    0.0
2022-01-27  2022-09-27      9       35.0  2022-08-26    0.0
2022-01-28  2022-09-27      9       11.0  2022-08-26    0.0

[1561 rows x 12 columns]

In [17]:
load_fut_by_product('ZC', 'CZCE', datetime.date(2022,1,28) ,datetime.date(2022,1,28))

   instID        date   open   high    low  close volume openInterest
0   ZC202  2022-01-28  705.4  709.0  705.0  706.6     91           72
1   ZC203  2022-01-28  795.0  800.0  739.6  750.0    144          598
2   ZC204  2022-01-28  771.8  771.8  748.2  748.2      5           19
3   ZC205  2022-01-28  824.2  830.0  751.4  756.2  16883        24981
4   ZC206  2022-01-28  795.2  821.2  762.4  762.4     64           50
5   ZC207  2022-01-28  826.6  826.6  764.0  770.2     15           94
6   ZC208  2022-01-28  774.2  774.2  774.2  774.2      1           25
7   ZC209  2022-01-28  797.2  810.8  741.8  742.0    331         2356
8   ZC210  2022-01-28  804.0  804.8  753.0  753.0     11          172
9   ZC211  2022-01-28  760.2  764.6  760.2  764.6      2           21
10  ZC212  2022-01-28  793.0  793.0  793.0  793.0      0           13
11  ZC301  2022-01-28  787.8  799.8  765.0  772.0      5           34

In [159]:
#nb_df[nb1_df['instID'] == nb_df['instID']]
#nb_df.close.plot(color='r')

#nb1_df.close.plot(color='y')
print(nb1_df.close.diff().max(), nb1_df.price_chg.max())
#nb_df[['close']].plot()
#flag = nb1_df.close.diff()>1.0
#nb1_df[flag | flag.shift(-1)]
#nb1_df.loc[datetime.date(2018,9,8):datetime.date(2018,9,20):]

18.67999999999995 18.67999999999995

In [31]:
13650.0/np.exp(-0.120685)

15400.87801308383

In [33]:
nc_df = misc.nearby('al', 1, start_date = start_date, end_date = end_date, roll_rule='-30b',shift_mode=0)
nc1_df = misc.nearby('al', 1, start_date = start_date, end_date = end_date, roll_rule='-30b',shift_mode=1)
nc2_df = misc.nearby('al', 1, start_date = start_date, end_date = end_date, roll_rule='-30b',shift_mode=2)
print(nc_df, nc1_df, nc2_df)

               open     high      low    close  volume  openInterest contract  \
date
2018-12-17  13630.0  13695.0  13600.0  13650.0   92808        235208   al1902
2018-12-18  13645.0  13785.0  13645.0  13740.0  154902        231444   al1902
2018-12-19  13760.0  13775.0  13630.0  13665.0  133534        220872   al1902
2018-12-20  13680.0  13745.0  13605.0  13690.0  187314        226690   al1902
2018-12-21  13725.0  13775.0  13640.0  13750.0  173672        226022   al1902
...             ...      ...      ...      ...     ...           ...      ...
2022-01-24  21310.0  21600.0  20920.0  21025.0  353215        210546   al2203
2022-01-25  21040.0  21280.0  20995.0  21055.0  288211        206797   al2203
2022-01-26  21200.0  21620.0  21120.0  21525.0   82233         98500   al2204
2022-01-27  21445.0  21670.0  21365.0  21540.0   73174        101445   al2204
2022-01-28  21565.0  21895.0  21485.0  21895.0   76679        107194   al2204

            shift
date
2018-12-17    0.0
2018-12-18    0.0
2018-12-19    0.0
2018-12-20    0.0
2018-12-21    0.0
...           ...
2022-01-24    0.0
2022-01-25    0.0
2022-01-26    0.0
2022-01-27    0.0
2022-01-28    0.0

[759 rows x 8 columns]                open     high      low    close  volume  openInterest contract  \
date
2018-12-17  11865.0  11930.0  11835.0  11885.0   92808        235208   al1902
2018-12-18  11880.0  12020.0  11880.0  11975.0  154902        231444   al1902
2018-12-19  11995.0  12010.0  11865.0  11900.0  133534        220872   al1902
2018-12-20  11915.0  11980.0  11840.0  11925.0  187314        226690   al1902
2018-12-21  11960.0  12010.0  11875.0  11985.0  173672        226022   al1902
...             ...      ...      ...      ...     ...           ...      ...
2022-01-24  21310.0  21600.0  20920.0  21025.0  353215        210546   al2203
2022-01-25  21040.0  21280.0  20995.0  21055.0  288211        206797   al2203
2022-01-26  21200.0  21620.0  21120.0  21525.0   82233         98500   al2204
2022-01-27  21445.0  21670.0  21365.0  21540.0   73174        101445   al2204
2022-01-28  21565.0  21895.0  21485.0  21895.0   76679        107194   al2204

             shift
date
2018-12-17 -1765.0
2018-12-18 -1765.0
2018-12-19 -1765.0
2018-12-20 -1765.0
2018-12-21 -1765.0
...            ...
2022-01-24     0.0
2022-01-25     0.0
2022-01-26     0.0
2022-01-27     0.0
2022-01-28     0.0

[759 rows x 8 columns]                     open          high           low         close  volume  \
date
2018-12-17  12080.451900  12138.062272  12053.862497  12098.178168   92808
2018-12-18  12093.746601  12217.830480  12093.746601  12177.946376  154902
2018-12-19  12195.672644  12208.967346  12080.451900  12111.472869  133534
2018-12-20  12124.767571  12182.377943  12058.294064  12133.630705  187314
2018-12-21  12164.651675  12208.967346  12089.315034  12186.809510  173672
...                  ...           ...           ...           ...     ...
2022-01-24  21310.000000  21600.000000  20920.000000  21025.000000  353215
2022-01-25  21040.000000  21280.000000  20995.000000  21055.000000  288211
2022-01-26  21200.000000  21620.000000  21120.000000  21525.000000   82233
2022-01-27  21445.000000  21670.000000  21365.000000  21540.000000   73174
2022-01-28  21565.000000  21895.000000  21485.000000  21895.000000   76679

            openInterest contract     shift
date
2018-12-17        235208   al1902 -0.120685
2018-12-18        231444   al1902 -0.120685
2018-12-19        220872   al1902 -0.120685
2018-12-20        226690   al1902 -0.120685
2018-12-21        226022   al1902 -0.120685
...                  ...      ...       ...
2022-01-24        210546   al2203  0.000000
2022-01-25        206797   al2203  0.000000
2022-01-26         98500   al2204  0.000000
2022-01-27        101445   al2204  0.000000
2022-01-28        107194   al2204  0.000000

[759 rows x 8 columns]

In [2]:
start_date = datetime.date(2011,1,1)
end_date = datetime.date(2022, 1, 28)
prodcode = 'ZC'
roll_rule = '-30b'
shift_mode = 1
n = 1

adj_field = 'close'
calc_fields = ['open', 'close', 'high', 'low']
contract_filter = [1, 5, 9]

exch = misc.prod2exch(prodcode)
xdf = load_fut_by_product(prodcode, exch, start_date ,end_date)
xdf['expiry'] = xdf['instID'].apply(lambda x: misc.contract_expiry(x, hols = misc.CHN_Holidays))
xdf['month'] = xdf['instID'].apply(lambda x: misc.inst2contmth(x)%100)
xdf = xdf.sort_values(['instID', 'date'])

if shift_mode == 2:
    xdf['price_chg'] = np.log(xdf[adj_field]).diff()
else:
    xdf['price_chg'] = xdf[adj_field].diff()        
xdf.loc[xdf['instID']!=xdf['instID'].shift(1), 'price_chg'] = 0
if (roll_rule[0] == '-') and (roll_rule[-1] in ['b', 'd']):
    xdf['roll_date'] = xdf['expiry'].apply(lambda x: misc.day_shift(x, roll_rule, hols = misc.CHN_Holidays))
    xdf = xdf[xdf.date <= xdf['roll_date']]
else:
    xdf['roll_date'] = xdf['expiry']
if contract_filter:
    xdf = xdf[xdf.month.isin(contract_filter)]
df = pd.pivot_table(xdf, index = 'date', columns = 'expiry', values = 'instID', aggfunc = 'first')
df1 = df.apply(lambda x: pd.Series(x.dropna().values), axis=1)
df1 = df1.reset_index()

col_df = df1[['date', n-1]].rename(columns = {n-1: 'instID'})
#if len(col_df[col_df['instID'].isna()])> 0:
#    raise ValueError('There are nan values for product=%s, nearby=%s, roll=%s' % (prodcode, str(n), roll_rule))
col_df = col_df.fillna(method = 'ffill')
out_df = pd.merge(col_df, xdf,left_on = ['date', 'instID'], right_on=['date', 'instID'], how = 'left')

if shift_mode > 0:
    cum_adj = out_df.loc[::-1, 'price_chg'].cumsum().shift(1).fillna(0)[::-1]
    if shift_mode == 2:
        adj_price = out_df[adj_field].iloc[-1]/np.exp(cum_adj)
        out_df['shift'] = np.log(adj_price) - np.log(out_df[adj_field])
    else:
        adj_price = out_df[adj_field].iloc[-1] - cum_adj
        out_df['shift'] = adj_price - out_df[adj_field]    

    for cfield in calc_fields:
        if shift_mode == 2:
            out_df[cfield] = out_df[cfield] * np.exp(out_df['shift'])
        else:
            out_df[cfield] = out_df[cfield] + out_df['shift']
else:
    out_df['shift'] = 0
out_df = out_df.set_index('date')

In [6]:
load_fut_by_product('TA', 'CZCE', start_date ,end_date)

,instID,date,open,high,low,close,volume,openInterest
0,TA1101,2011-01-04,9986.0,10194.0,9948.0,10172.0,1826,26168
1,TA1102,2011-01-04,10152.0,10152.0,10152.0,10152.0,6,230
2,TA1103,2011-01-04,10340.0,10412.0,10320.0,10398.0,28,274
3,TA1104,2011-01-04,10498.0,10522.0,10344.0,10522.0,6,212
4,TA1105,2011-01-04,10430.0,10620.0,10372.0,10592.0,446228,225166
...,...,...,...,...,...,...,...,...
23472,TA209,2022-01-28,5516.0,5570.0,5446.0,5480.0,51837,142881
23473,TA210,2022-01-28,5572.0,5606.0,5506.0,5506.0,46,4695
23474,TA211,2022-01-28,5586.0,5616.0,5514.0,5538.0,36,2882
23475,TA212,2022-01-28,5602.0,5620.0,5590.0,5592.0,7,2519
23476,TA301,2022-01-28,5530.0,5626.0,5500.0,5528.0,294,6603

In [144]:
#out_df[out_df.instID.isna()]

#out_df.loc[datetime.date(2017,11,20):datetime.date(2017,12,10),:]
#out_df.close.plot()
print(out_df.close.diff().max(),out_df.price_chg.max())

1.2449999999999903 1.2449999999999903

In [5]:
price_adj = out_df.loc[::-1, 'price_chg'].cumsum().shift(1).fillna(0)[::-1]
price_close = out_df['close'].iloc[-1] - price_adj
price_shift = price_close - out_df['close']
print(price_close, price_shift)

0      12365.0
1      12360.0
2      12380.0
3      12380.0
4      12435.0
        ...
500    21025.0
501    21055.0
502    21525.0
503    21540.0
504    21950.0
Name: price_chg, Length: 505, dtype: float64 0     -1725.0
1     -1725.0
2     -1725.0
3     -1645.0
4     -1645.0
        ...
500       0.0
501       0.0
502       0.0
503       0.0
504       0.0
Length: 505, dtype: float64

In [55]:
xdf = xdf.sort_values(['instID', 'date'])
xdf['chg'] = xdf['close'].diff()
flag = xdf['instID']!=xdf['instID'].shift(1)
xdf.loc[flag, 'chg'] = 0
print(xdf)

      instID        date     open     high      low    close  volume  \
0     al2001  2020-01-02  14355.0  14425.0  14355.0  14410.0    5391
12    al2001  2020-01-03  14390.0  14425.0  14375.0  14410.0    8795
24    al2001  2020-01-06  14425.0  14460.0  14390.0  14415.0    6025
36    al2001  2020-01-07  14410.0  14420.0  14300.0  14300.0   10600
48    al2001  2020-01-08  14260.0  14405.0  14260.0  14400.0    5570
...      ...         ...      ...      ...      ...      ...     ...
5967  al2301  2022-01-24  21140.0  21180.0  20840.0  20845.0      16
5979  al2301  2022-01-25  20935.0  20940.0  20845.0  20850.0      31
5991  al2301  2022-01-26  21220.0  21415.0  21145.0  21395.0      62
6003  al2301  2022-01-27  21310.0  21395.0  21295.0  21395.0       3
6015  al2301  2022-01-28  21365.0  21600.0  21340.0  21600.0      29

      openInterest      expiry   roll_date    chg
0            45835  2020-01-15  2019-12-04    0.0
12           41670  2020-01-15  2019-12-04    0.0
24           39405  2020-01-15  2019-12-04    5.0
36           34830  2020-01-15  2019-12-04 -115.0
48           33450  2020-01-15  2019-12-04  100.0
...            ...         ...         ...    ...
5967            39  2023-01-16  2022-12-05 -355.0
5979            58  2023-01-16  2022-12-05    5.0
5991            61  2023-01-16  2022-12-05  545.0
6003            62  2023-01-16  2022-12-05    0.0
6015            68  2023-01-16  2022-12-05  205.0

[6016 rows x 11 columns]

In [4]:
adf = df.iloc[:, df.columns.get_level_values(0)=='close']
adf

                close                                                         \
expiry     2021-01-15 2021-02-15 2021-03-15 2021-04-15 2021-05-17 2021-06-15
date
2021-01-04    15615.0    15430.0    15330.0    15290.0    15250.0    15205.0
2021-01-05    15575.0    15370.0    15310.0    15290.0    15270.0    15220.0
2021-01-06    15585.0    15400.0    15380.0    15390.0    15380.0    15335.0
2021-01-07    15530.0    15320.0    15315.0    15325.0    15305.0    15280.0
2021-01-08    15530.0    15340.0    15290.0    15300.0    15290.0    15215.0
...               ...        ...        ...        ...        ...        ...
2022-01-24        NaN        NaN        NaN        NaN        NaN        NaN
2022-01-25        NaN        NaN        NaN        NaN        NaN        NaN
2022-01-26        NaN        NaN        NaN        NaN        NaN        NaN
2022-01-27        NaN        NaN        NaN        NaN        NaN        NaN
2022-01-28        NaN        NaN        NaN        NaN        NaN        NaN

                                                        ...             \
expiry     2021-07-15 2021-08-16 2021-09-15 2021-10-15  ... 2022-04-15
date                                                    ...
2021-01-04    15190.0    15165.0    15160.0    15095.0  ...        NaN
2021-01-05    15190.0    15110.0    15105.0    15080.0  ...        NaN
2021-01-06    15305.0    15275.0    15250.0    15230.0  ...        NaN
2021-01-07    15245.0    15200.0    15260.0    15180.0  ...        NaN
2021-01-08    15170.0    15160.0    15145.0    15075.0  ...        NaN
...               ...        ...        ...        ...  ...        ...
2022-01-24        NaN        NaN        NaN        NaN  ...    21025.0
2022-01-25        NaN        NaN        NaN        NaN  ...    21055.0
2022-01-26        NaN        NaN        NaN        NaN  ...    21525.0
2022-01-27        NaN        NaN        NaN        NaN  ...    21540.0
2022-01-28        NaN        NaN        NaN        NaN  ...    21895.0

                                                                              \
expiry     2022-05-16 2022-06-15 2022-07-15 2022-08-15 2022-09-15 2022-10-17
date
2021-01-04        NaN        NaN        NaN        NaN        NaN        NaN
2021-01-05        NaN        NaN        NaN        NaN        NaN        NaN
2021-01-06        NaN        NaN        NaN        NaN        NaN        NaN
2021-01-07        NaN        NaN        NaN        NaN        NaN        NaN
2021-01-08        NaN        NaN        NaN        NaN        NaN        NaN
...               ...        ...        ...        ...        ...        ...
2022-01-24    21000.0    20980.0    20930.0    20940.0    20990.0    20885.0
2022-01-25    21045.0    21025.0    21010.0    21010.0    21015.0    21135.0
2022-01-26    21495.0    21475.0    21445.0    21485.0    21425.0    21460.0
2022-01-27    21525.0    21505.0    21465.0    21445.0    21435.0    21410.0
2022-01-28    21820.0    21780.0    21735.0    21685.0    21670.0    21660.0


expiry     2022-11-15 2022-12-15 2023-01-16
date
2021-01-04        NaN        NaN        NaN
2021-01-05        NaN        NaN        NaN
2021-01-06        NaN        NaN        NaN
2021-01-07        NaN        NaN        NaN
2021-01-08        NaN        NaN        NaN
...               ...        ...        ...
2022-01-24    20830.0    20770.0    20845.0
2022-01-25    20990.0    20910.0    20850.0
2022-01-26    21440.0    21430.0    21395.0
2022-01-27    21400.0    21460.0    21395.0
2022-01-28    21710.0    21620.0    21600.0

[262 rows x 25 columns]

In [5]:
dfe = pd.DataFrame(xdf.groupby('instID')['expiry'].last()).transpose()
print(dfe)

instID      al2101      al2102      al2103      al2104      al2105  \
expiry  2021-01-15  2021-02-15  2021-03-15  2021-04-15  2021-05-17

instID      al2106      al2107      al2108      al2109      al2110  ...  \
expiry  2021-06-15  2021-07-15  2021-08-16  2021-09-15  2021-10-15  ...

instID      al2204      al2205      al2206      al2207      al2208  \
expiry  2022-04-15  2022-05-16  2022-06-15  2022-07-15  2022-08-15

instID      al2209      al2210      al2211      al2212      al2301
expiry  2022-09-15  2022-10-17  2022-11-15  2022-12-15  2023-01-16

[1 rows x 25 columns]

In [12]:
dfe = pd.DataFrame(xdf.groupby('instID')['expiry'].last()).transpose()

nb_df = nearby(adf, roll = 30)
print(nb_df[0])

0     -20
1      -5
2      16
3      38
4      57
5      77
6      99
7     121
8     143
9     158
10    179
11    201
12    223
13    232
dtype: int64 Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')
          0        1        2        3        4        5        6        7   \
0    15615.0  15430.0  15330.0  15290.0  15250.0  15205.0  15190.0  15165.0
1    15575.0  15370.0  15310.0  15290.0  15270.0  15220.0  15190.0  15110.0
2    15585.0  15400.0  15380.0  15390.0  15380.0  15335.0  15305.0  15275.0
3    15530.0  15320.0  15315.0  15325.0  15305.0  15280.0  15245.0  15200.0
4    15530.0  15340.0  15290.0  15300.0  15290.0  15215.0  15170.0  15160.0
..       ...      ...      ...      ...      ...      ...      ...      ...
257      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
258      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
259      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
260      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN
261      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN

          8        9   ...       15       16       17       18       19  \
0    15160.0  15095.0  ...      NaN      NaN      NaN      NaN      NaN
1    15105.0  15080.0  ...      NaN      NaN      NaN      NaN      NaN
2    15250.0  15230.0  ...      NaN      NaN      NaN      NaN      NaN
3    15260.0  15180.0  ...      NaN      NaN      NaN      NaN      NaN
4    15145.0  15075.0  ...      NaN      NaN      NaN      NaN      NaN
..       ...      ...  ...      ...      ...      ...      ...      ...
257      NaN      NaN  ...  21025.0  21000.0  20980.0  20930.0  20940.0
258      NaN      NaN  ...  21055.0  21045.0  21025.0  21010.0  21010.0
259      NaN      NaN  ...  21525.0  21495.0  21475.0  21445.0  21485.0
260      NaN      NaN  ...  21540.0  21525.0  21505.0  21465.0  21445.0
261      NaN      NaN  ...  21895.0  21820.0  21780.0  21735.0  21685.0

          20       21       22       23       24
0        NaN      NaN      NaN      NaN      NaN
1        NaN      NaN      NaN      NaN      NaN
2        NaN      NaN      NaN      NaN      NaN
3        NaN      NaN      NaN      NaN      NaN
4        NaN      NaN      NaN      NaN      NaN
..       ...      ...      ...      ...      ...
257  20990.0  20885.0  20830.0  20770.0  20845.0
258  21015.0  21135.0  20990.0  20910.0  20850.0
259  21425.0  21460.0  21440.0  21430.0  21395.0
260  21435.0  21410.0  21400.0  21460.0  21395.0
261  21670.0  21660.0  21710.0  21620.0  21600.0

[262 rows x 25 columns]
          0        1        2        3        4        5        6        7   \
0    15330.0  15290.0  15250.0  15205.0  15190.0  15165.0  15160.0  15095.0
1    15310.0  15290.0  15270.0  15220.0  15190.0  15110.0  15105.0  15080.0
2    15380.0  15390.0  15380.0  15335.0  15305.0  15275.0  15250.0  15230.0
3    15315.0  15325.0  15305.0  15280.0  15245.0  15200.0  15260.0  15180.0
4    15290.0  15300.0  15290.0  15215.0  15170.0  15160.0  15145.0  15075.0
..       ...      ...      ...      ...      ...      ...      ...      ...
257  21015.0  21025.0  21025.0  21000.0  20980.0  20930.0  20940.0  20990.0
258  21050.0  21055.0  21055.0  21045.0  21025.0  21010.0  21010.0  21015.0
259  21510.0  21525.0  21525.0  21495.0  21475.0  21445.0  21485.0  21425.0
260  21545.0  21540.0  21540.0  21525.0  21505.0  21465.0  21445.0  21435.0
261  22415.0  21950.0  21895.0  21820.0  21780.0  21735.0  21685.0  21670.0

          8        9   ...  15  16  17  18  19  20  21  22  23  24
0    15120.0  15115.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
1    15100.0  15095.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2    15200.0  15155.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3    15150.0  15295.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4    15185.0  15030.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
..       ...      ...  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
257  20885.0  20830.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
258  21135.0  20990.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
259  21460.0  21440.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
260  21410.0  21400.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
261  21660.0  21710.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[262 rows x 25 columns]
date
2021-01-04    15330.0
2021-01-05    15310.0
2021-01-06    15380.0
2021-01-07    15315.0
2021-01-08    15290.0
               ...
2022-01-24    21015.0
2022-01-25    21050.0
2022-01-26    21510.0
2022-01-27    21545.0
2022-01-28    22415.0
Name: 0, Length: 262, dtype: float64

In [5]:
from pycmqlib3.utility.dbaccess import *

start_date = datetime.date(2011,1,1)
end_date = datetime.date(2022,1,28)
product = 'MA'
exch = 'CZCE'
db_table = 'fut_daily'

if product == 'MA':
    prod_keys = ['ME', 'MA']
elif product == 'ZC':
    prod_keys = ['TC', 'ZC']
else:
    prod_keys = [product]
out_df = pd.DataFrame()
for prod in prod_keys:
    if exch in ['DCE', 'SHFE']:
        prod_key = f"{prod}____"
    else:
        prod_key = f'{prod}%'
    cnx = connect(**dbconfig)
    columns = ['instID', 'date', 'open', 'high', 'low', 'close', 'volume', 'openInterest']
    stmt = "select {variables} from {table} where instID like '{prod_key}'  ".format(\
                        prod_key = prod_key, \
                        variables=','.join(columns), table = db_table)
    stmt = stmt + "and date >='%s' " % start_date.strftime('%Y-%m-%d')
    stmt = stmt + "and date <='%s' " % end_date.strftime('%Y-%m-%d')
    stmt = stmt + "and exch = '%s' " % (exch)
    stmt = stmt + "order by date, instID"    
    df = pd.io.sql.read_sql(stmt, cnx)
    out_df = out_df.append(df)
if product == 'MA':        
    out_df = out_df[out_df.instID != 'ME505']
    out_df['instID'] = out_df['instID'].replace(['MA506'], 'ME505')

In [6]:
def nearby(prodcode, n = 1, start_date = None, end_date = None, 
           roll_rule = '-20b', shift_mode = 0, 
           adj_field = 'close', calc_fields = ['open', 'close', 'high', 'low'], 
           contract_filter = None, fill_cont = False,
          ):
    exch = misc.prod2exch(prodcode)
    xdf = load_fut_by_product(prodcode, exch, start_date ,end_date)
    xdf['expiry'] = xdf['instID'].apply(lambda x: misc.contract_expiry(x, hols = misc.CHN_Holidays))
    xdf['month'] = xdf['instID'].apply(lambda x: misc.inst2contmth(x)%100)
    xdf = xdf.sort_values(['instID', 'date'])

    if shift_mode == 2:
        xdf['price_chg'] = np.log(xdf[adj_field]).diff()
    else:
        xdf['price_chg'] = xdf[adj_field].diff()        
    xdf.loc[xdf['instID']!=xdf['instID'].shift(1), 'price_chg'] = 0
    if (roll_rule[0] == '-') and (roll_rule[-1] in ['b', 'd']):
        xdf['roll_date'] = xdf['expiry'].apply(lambda x: misc.day_shift(x, roll_rule, hols = misc.CHN_Holidays))
        xdf = xdf[xdf.date <= xdf['roll_date']]
    else:
        xdf['roll_date'] = xdf['expiry']
    if contract_filter:
        xdf = xdf[xdf.month.isin(contract_filter)]
    df = pd.pivot_table(xdf, index = 'date', columns = 'expiry', values = 'instID', aggfunc = 'first')
    df1 = df.apply(lambda x: pd.Series(x.dropna().values), axis=1)
    df1 = df1.reset_index()
    col_df = df1[['date', n-1]].rename(columns = {n-1: 'instID'})
    if len(col_df[col_df['instID'].isna()])> 0:
        if fill_cont:
            col_df = col_df.fillna(method = 'ffill')
        else:
            raise ValueError('There are nan values for product=%s, nearby=%s, roll=%s' % (prodcode, str(n), roll_rule))
    out_df = pd.merge(col_df, xdf,left_on = ['date', 'instID'], right_on=['date', 'instID'], how = 'left')
    if shift_mode > 0:
        cum_adj = out_df.loc[::-1, 'price_chg'].cumsum().shift(1).fillna(0)[::-1]
        if shift_mode == 2:
            adj_price = out_df[adj_field].iloc[-1]/np.exp(cum_adj)
            out_df['shift'] = np.log(adj_price) - np.log(out_df[adj_field])
        else:
            adj_price = out_df[adj_field].iloc[-1] - cum_adj
            out_df['shift'] = adj_price - out_df[adj_field]    

        for cfield in calc_fields:
            if shift_mode == 2:
                out_df[cfield] = out_df[cfield] * np.exp(out_df['shift'])
            else:
                out_df[cfield] = out_df[cfield] + out_df['shift']
    else:
        out_df['shift'] = 0
    out_df = out_df.set_index('date')
    return out_df

,instID,date,open,high,low,close,volume,openInterest
0,ME1203,2011-10-28,3199.0,3220.0,3130.0,3139.0,40508,3342
1,ME1204,2011-10-28,3150.0,3209.0,3143.0,3148.0,102,44
2,ME1205,2011-10-28,3192.0,3233.0,3172.0,3182.0,3024,424
3,ME1206,2011-10-28,3258.0,3258.0,3195.0,3195.0,4,2
4,ME1209,2011-10-28,3195.0,3263.0,3189.0,3198.0,108,62
...,...,...,...,...,...,...,...,...
14173,MA209,2022-01-28,2805.0,2895.0,2780.0,2794.0,15715,56821
14174,MA210,2022-01-28,2860.0,2902.0,2801.0,2801.0,1521,7209
14175,MA211,2022-01-28,2863.0,2901.0,2793.0,2814.0,17,14448
14176,MA212,2022-01-28,2889.0,2930.0,2832.0,2832.0,15,4949
14177,MA301,2022-01-28,2911.0,2946.0,2850.0,2855.0,109,604